[2017-12-13 09:14] SofiaTa opened #1 "Go project sturcture question"
Hi,

I've created this question https://stackoverflow.com/questions/47788850/go-project-structure-best-practise in stack overflow and I wonder if the repo author can give is insight.

Thanks,
Sofia

[2018-02-01 02:08] kcq commented on #1
Feel free to adopt any structure that makes sense for you and your project. The project layout represents a set of patterns you can choose to adopt, so don't feel that it's the only true way :)

Having said that here are my two comments:

1. The 'src' folder:

Some Go projects do have a 'src' folder, but it usually happens when the devs came from the Java world where it's a common pattern. If you

[2018-03-06 03:30] bt commented on #1
Hey @kcq, thanks for putting this together! It's helped me put together my current (and future) projects!

Just a quick question, where would I put my `models`? I've been told many times that I shouldn't have a `models` package as the grouping should be by responsibility.

So, would I be creating something like `internal/user/user.go` for the `User` model for example?

[2018-03-11 01:04] kcq commented on #1
This project layout is intentionally generic and it doesn't try to impose this level of structure :-)

Depending on how you want to control visibility of your models (if you want to have models :)) they may go in your-project/pkg/your-lib/your-models (if the models are used by one or more of your apps or if they can be reused externally by 3rd parties) or your-project/internal/pkg/your-private-lib

[2018-03-31 00:15] Niondir opened #3 "What about "testdata""
It seems common to have a "testdata" directory for additional test data. Any specific reason why it's not included in this repo?

[2018-04-06 18:26] Digi1mpulse commented on #1
If I create directories within internal such as database with a db.go file within there. Should the package of db.go be 'internal' or 'database'?

[2018-04-13 00:39] q-cloudlock commented on #3
The /test directory is the place to store test data in addition to any extra test tools you need, so you might have /test/data and /test/tools or some other subdirectory structure.

[2018-04-13 00:39] kcq commented on #3
The /test directory is the place to store test data in addition to any extra test tools you need, so you might have /test/data and /test/tools or some other subdirectory structure.

[2018-04-14 22:50] kcq commented on #3
@coreydaley nice example! The same OpenShift repo includes a number of other common project layout patterns: /cmd (https://github.com/openshift/origin/tree/master/cmd), /pkg (https://github.com/openshift/origin/tree/master/pkg), /tools (https://github.com/openshift/origin/tree/master/tools), /api (https://github.com/openshift/origin/tree/master/api) and /docs (https://github.com/openshift/origin/t

[2018-05-03 22:20] dantoye opened #4 "Lack of reasoning behind suggestions"
Happy to see this attempt, but none of the decisions or suggestions are explained.

If there are valid reasons to use such a structure, it should be easy to list those reasons.

As someone who has my own preferred structure, I would need some reasons to switch. "Unifying everyone's structure" is a great argument for a unified structure, but not necessarily this structure.

[2018-05-10 11:34] andig opened #5 "Missing simple approach to building and vendoring"
Pulling out my hair to do something as simple (or in go- complex) as using `dep`, `gb` and `make` to perform a simple build of a repo with this structure. Even if its opinionated it would help to show

  - a `Makefile` including `gb` (the refs are good but much too complex for a beginner)
  - a way to use `dep` for installing dependencies as part of the make process

[2018-05-13 16:57] kcq commented on #4
The Go-specific structure represents the common project layout patterns emerging in the Go ecosystem. That's the main reason. The 'cmd' layout pattern, for example, is one of those. If you look at the 'cmd' directory it provides a number of well known Go projects that utilize the pattern (e.g., https://github.com/prometheus/prometheus/tree/master/cmd ).

Either way, you are free to pick any or non

[2018-05-13 17:04] kcq commented on #5
Yes, actual examples will be helpful. It'll be available in a 'template' repo soon. It's great to hear about what you find valuable. Thank you for that.

By the way, what's the reason for using 'gb'? 'gb' is a proof of concept (based on their own description). Not saying you shouldn't be using it. Just curious why you decided to go with it :-)

[2018-05-14 13:32] andig commented on #5
Thanks for asking! I'm new to go and have started contributing to https://github.com/gonium/gosdm630. gb was the tool of choice at that repo. I'm coming from the php world (i.e. `composer` for dependency management or Maven in the Java world) and still have a hard time adjusting to go (`GOPATH`?) and came here to deepen understanding.

So long story short- no reason for providing `gb` examples, I'

[2018-05-31 22:15] nleiva opened #7 "Examples, singular or plural?"
The [examples](https://github.com/golang-standards/project-layout/tree/master/examples) folder seems to conflict with: [Use singular form for collection repo/folder name](https://dmitri.shuralyov.com/idiomatic-go#use-singular-form-for-collection-repo-folder-name). Thoughts?

[2018-06-02 04:13] kcq commented on #7
You are absolutely right! However, even the Go creators deviate from these guidelines. The 'errors', 'strings' and 'bytes' packages are some of those examples.

Either way, it'll be good to add a few references around naming:
* https://github.com/golang/go/wiki/CodeReviewComments
* https://blog.golang.org/package-names
* https://golang.org/doc/effective_go.html#names

[2018-06-02 04:28] kcq commented on #5
Welcome to the world of Go :-) Gb is an interesting project and it's great if it works for you. I usually stick with a standard Go setup with a couple of helper scripts to get around the GOPATH requirements when I need to use the projects outside of it. One script sets up a local gopath directory linking the project into it and another one sets GOPATH to that fake gopath location. I'll add those t

[2018-06-02 16:35] nleiva commented on #7
Look at [comment-2](https://dmitri.shuralyov.com/idiomatic-go/entries/5#comment-2). `example(s)` could be a collection of them (as in [packer](https://github.com/hashicorp/packer/tree/master/examples)), unlike `errors`, `strings`, and `bytes`. The `encoding` example is an excellent reference (`encoding/json`, `encoding/xml`, `encoding/gob`).

I agree people deviate from this one. Just wondering wh

[2018-06-14 05:43] raj-code opened #8 "src directory"
Go language documentation itself suggested to use the src directory. Why did you mention in your README that src should not be used.

https://golang.org/doc/code.html

[2018-06-14 12:16] Samze commented on #8
@raj-code the `src` directory is used on the GOPATH to identify where all your go project's code lives. The suggestion in the README is to not use `src` within a single project itself.

It is suggesting you do not do this.

[code]

And instead do this

[code]

[2018-06-28 03:47] kcq commented on #7
If it's not a package name/directory it's ok to deviate from that recommendation/guideline. The `examples` directory falls into this category :-) Ultimately it's up to you to decide what makes sense for your project.

[2018-06-28 03:49] kcq commented on #3
True, `testdata` is special, so you can make it `test/testdata` if you want to take advantage of it :-)

[2018-07-12 05:49] LindsayBradford commented on #5
Related to this is the advice in /build README stating that travis-CI config should live in /build/ci.  Travis expects its .travis.yml config file to occupy the root directory in order to work correctly.

[2018-07-12 06:33] kcq commented on #5
Seems like a number of Travis users want non-standard .travis.yml locations :) https://github.com/travis-ci/travis-ci/issues/5519

[2018-07-15 23:33] rburmorrison opened #9 "Internal app/pkg Directory Clarification"
I was wondering what the `internal/app` directory was for, exactly. The README.md says:

What does it mean by your "actual application code"? I thought that application code goes in the `/cmd/<app_name>/` directory. And if it's not part of the main package, shouldn't it then, by definition, be a package that belongs in either `/pkg/` or `/internal/pkg/`?

I've been placing internal packages direct

[2018-07-19 07:38] KosToZyB commented on #1
Hello, in which directory better to add the migration sql?

[2018-08-14 15:59] theckman opened #10 "pkg directory should not be recommended for use"
The general consensus of the Go community has been converging on the idea that the `pkg/` directory is a useless abstraction / indirection. Instead, people are encouraged to either put the packages in the top-level of the repository, or to create a repository structure that structures things based on their primary functionality of domain in the business logic.

So while in your example you may enc

[2018-08-14 21:30] sagikazarmark commented on #1
@KosToZyB I usually have a database directory in the root package with the following content:

- if I have to support multiple database engines then I have a subfolder per engine (eg. `mysql`, `postgres`, etc)
- then I have a Dockerfile which can be used for local development and execute the migrations itself
- on the same level I have a migrations directory with the migrations in it

Alternativel

[2018-08-16 13:43] rburmorrison commented on #10
@theckman Interesting! I'll certainly consider this adopting this. What is the general reason that using the `pkg/` directory is frowned upon, may I ask? Is it due to long import paths? I tend to like it because I can name my root folder what I want as to not conflict with my other github projects, and keep the actual package name separate within the `pkg/` directory. But it is certainly long. Als

[2018-08-17 18:50] kcq commented on #10
Can you be a bit more specific about the 'we' part. Who exactly are you talking about. Is there an official community consensus around this (controversial) pattern? Is there a consensus from the official go dev team? At least, the last interaction around it on the gophers channel is limited mostly to you saying don't use the 'pkg' pattern :-) There might be other threads and discussions I didn't s

[2018-08-18 18:15] kcq commented on #9
Keep doing what works for you. This is a set of layout patterns that you are free to use or not to use :-) Using `/internal/pkg` is about consistency if you use the `/pkg` pattern. The public shared code goes in '/pkg' and the private shared code goes in `/internal/pkg`.

With the app code you can put it all in `/cmd/<app_name>`, but then all of your app code will be importable. It might be ok for

[2018-08-18 23:30] theckman commented on #10
@kcq I'm speaking in terms of what has become a general consensus in the Go Slack and Forums areas. The Go authors themselves have been absent in providing guidance on this topic, rightfully so.

There are discussions beyond ones involving me (based on the interactions I've seen), and my opinion was shifted from liking `pkg/` to not after having become involved in the Go community itself. I think

[2018-08-21 21:18] arzonus opened #11 "What about mail templates and localization files?"
Hi, guys!

Thanks for repo, it's useful.
But I confused about a place of templates and localization files in the project structure. What do you think about that?

[2018-08-22 07:09] kcq commented on #11
It depends on your application design. Those files might be in the same directory with your corresponding packages and/or tools. The `/configs` directory is another option (e.g., `/configs/sql/`, `/configs/templates`, `/configs/localization`). This is what I usually do. Good option if you are ok with those files as separate dependencies you load at run time. You can also make them root level direc

[2018-08-26 00:07] rburmorrison commented on #9
@kcq Sounds good! Thanks for the clarification.

[2018-08-26 06:32] kcq commented on #9
I'll reopen it, so it's a bit easier to discover this discussion in case others have the same question :)

[2018-08-27 09:44] kitgary opened #12 "What is the best project structure for a multi language monorepo?"
I am building a microservices project with services written in Go, Python and JavaScript for then frontend, what is the best way to structure a multi language monorepo?

[2018-09-03 08:35] TheImpressionist opened #13 "Google App Engine deployment"
What would be the approach to deploy the `cmd/<name>/main.go` structure to Google App Engine?

The regular command `gcloud app deploy --project=<whatever>` won't pick up that the main file is in another folder, and the entry file cannot be specified to the command.

I suppose the only hack-around would be to put the `main.go` in the base directory for deployment purposes? Feels dirty.

[2018-09-08 09:00] WheeskyJack commented on #8
I too found the statement misleading. The redame needs to be updated with at least above comment from @Samze . Also @Samze , does this means that there should be only single src directory in a given project or there should not be any nested src in the repository? Multiple src directories (not nested) are still possibility ?

[2018-09-08 15:33] kcq commented on #8
The blog post that goes along with the repo provides a bit more context about the Go's `src` directory ( https://medium.com/golang-learn/go-project-layout-e5213cdcfaa2 ). Either way, this is a useful UX feedback. Makes sense to add more inline context without relying on the external references in the repo. Thank you!

[2018-09-17 17:26] sturfee-petrl commented on #11
I keep email templates at `/assets` because I thought it was exact place where it should be(?)

[2018-09-20 09:32] dunods opened #14 "Dockerfile for standard project layout"
Does anyone have sample of dockerfile for standard project layout for the multi stage build ?

please help

[2018-09-20 15:29] kcq commented on #11
That's definitely an option too! Logos, images and other generic assets usually go there, but there's nothing prevents you from putting other things there :-)

[2018-09-20 15:34] kcq commented on #14
Can you share a bit more content? What are you trying to do?

[2018-09-21 21:55] DuriDuri commented on #13
+1

[2018-09-27 01:54] astericky commented on #14
I can help with this potentially. I worked on dockerizing multiple go projects. Let me try to get a pull req going tonight when I get home.

[2018-09-27 02:36] kcq commented on #14
Thank you for volunteering to help! The template repo would be a good place for it: https://github.com/golang-standards/project-template The `/build/package/docker` directory is a good place for it.

Do you have any existing Dockerfile samples?

[2018-09-27 07:08] dunods commented on #14
i finally manage to build it and have already create pull request for the package.

here are the sample
# Start from a Debian image with the latest version of Go installed
# and a workspace (GOPATH) configured at /go.
FROM golang:latest as builder
RUN go version

# Copy the local package files to the container's workspace.
ADD . /go/src/gitlab.com/{OWNER_NAME}/{PACKAGE_NAME}

# Copy the code from

[2018-09-27 07:08] #14 closed

[2018-09-29 02:58] TGhoul commented on #1
Hi, in which directory better to add the code that about web application? example router. what about add router in root directory?

[2018-09-29 16:11] kcq commented on #1
@KosToZyB it depends on how much structure you want to adopt for your project.

If you want to use the `pkg` or `internal/pkg` layout patterns then you can have a `db` or `database` package/lib directory in one of those two locations (in `/pkg` if you are ok for 3rd parties importing your code or `/internal/pkg` if it's a piece of code reusable by multiple components/apps in your project).

If you

[2018-10-02 18:54] adamdecaf commented on #3
Would y'all accept a doc PR mentioning how `testdata` is special?

[2018-10-31 12:03] ypeckstadt opened #18 "Best project structure when using go 1.11 mod"
The first thing you will run into when using go.mod, putting code outside GOPATH, and using the recommended folder structure is that your cmd/<app> does not have access to your internal or pkg folder.  Therefore you are automatically required to resort to using the require/replace fix to actually get access to the code or actually split your code into actual modules and upload separately.

While t

[2018-10-31 22:59] andrewpillar commented on #18
I've found that Go modules tend to not work all to well when it comes to the whole mono-repo approach that was encouraged by the use of `$GOPATH`. Go modules are still in the works however as of Go 1.11, and will be finalised in Go 1.12 as stated [here](https://github.com/golang/go/wiki/Modules).

For now I've just done as you have, and resorted to using `replace` in the `go.mod` file so I can loc

[2018-11-01 00:35] ypeckstadt commented on #18
@andrewpillar Thank you for the feedback.   Yeah, I guess in the meantime I will keep doing the same and see which changes might come in the next version or revert back to just using GOPATH.

[2018-11-16 04:19] Kulak commented on #5
The fact that examples repository is missing any actual example makes me to reconsider this structure.

[2018-11-20 10:51] tiramiseb commented on #18
I simply use the whole repository address in `go.mod` (which is exactly what is described [here](https://github.com/golang/go/wiki/Modules#gomod)):

[code]

Do you have a problem with this approach?

[2018-11-20 20:39] andrewpillar commented on #18
@tiramiseb one problem I've encountered is that unless I put the `replace [package] => ../../` in the `go.mod` file I won't be able to build with the latest changes I've made unless I tag it, then push it up to the remote.

For projects where I only have one `go.mod` file in the root of the project this isn't an issue, but for projects where I would have multiple `go.mod` files within sub-director

[2018-11-20 20:58] tiramiseb commented on #18
Indeed. I only have `go.mod` at the root of the project. I see your point...

[2018-11-26 08:41] kcq commented on #13
Would be good to have more information about your project... Can you share a bit more about your project structure? Is it an open source project?

You should be able to have your App Engine 'main' in a `cmd/<name>` directory... You might need to put your `app.yaml` file in the same directory though. Then run `gcloud app deploy` from `cmd/<name>`.

Here's a couple of examples that might help (the d

[2018-12-18 13:21] nineinchnick commented on #10
I don't know if a Tweet can/should be used as source but Brad Fitzpatrick states pkg is legacy: https://twitter.com/bradfitz/status/1039512487538970624
There is definitely some momentum

[2018-12-25 19:49] alexeldeib commented on #18
@tiramiseb I’m in the same boat, only a go.mod at the root, but I hit the same issue as @ypeckstadt if I moved my `main.go` into `cmd/something`.

Did you (or anyone else) have a project structure that allowed for a single go.mod at repo root, but with all other code contained in subdirs? Or have I missed something here in structuring my code?

Ideally, I’d like to end up with something similar to

[2018-12-25 20:40] tiramiseb commented on #18
This is exactly what I am doing : `.go` files only in `pkg/` or `cmd/`, with a single `go.mod` at the root of the repository.

[2018-12-25 20:53] alexeldeib commented on #18
I must be missing something -- I read that doc several times and haven't been able to figure out my issue.  If for example I use this structure (example):
[code]
I can hit the imports successfully, but if I do e.g., `go build` at the root of the module I see:
`can't load package...unknown import path github.com/alexeldeib/repo...cannot find module providing package <same path as before>`.

I'm not

[2018-12-25 21:00] tiramiseb commented on #18
Have you put the complete package address in the go.mod header (and not only its name), as explained [above](https://github.com/golang-standards/project-layout/issues/18#issuecomment-440230491)?

[2018-12-25 21:11] alexeldeib commented on #18
$DIR/go.mod:
[code]
$DIR/cmd/app/main.go:
[code]

and then `go build` run from $DIR yields the previous error. I feel like there's some misalignment between the package naming and module naming that is causing confusion? Should I be using the full repository + pkg name inside my `.go` files too?

Appreciate your advice!

[2018-12-25 21:18] tiramiseb commented on #18
The only difference I see is that I run `go build` from the `$DIR/cmd/app/` directory...

[2018-12-31 17:44] kcq commented on #10
@nineinchnick yes, it's a 'legacy' pattern for Go itself. Brad's tweet provides a nice background about the origins of the pattern :)

[2019-01-01 22:21] hron84 commented on #10
@theckman While I'm not a Go developer, I do know a little bit about development in general terms. You said:

The problem is you made a direct conclusion that if something is not in `internal` directory then it's safe to use by external application/project which is not neccessarily true. Think about `cmd` directory, while the proposal says only importing things and launching things should go here,

[2019-03-02 00:22] rakyll commented on #10
pkg is not a canonical practice to organize "importable" packages. One side effect of representing it here is that I hear a lot from others that I should reorg my packages as suggested as here.

I don't think there is a widely accepted rule for this. This is the first time I am hearing this intention and I personally know very few people who thinks "pkg" makes a package intended for public use. An

[2019-03-04 20:44] egorse commented on #10
/cc @peterbourgon @thockin

[2019-03-04 20:50] peterbourgon commented on #10
The `pkg` subdirectory is a way to sequester Go source files into well-known locations in a repository. That is, all Go files are guaranteed to live in `./{cmd,pkg,internal}/*`, with `cmd` being for all `package main`, `pkg` for reusable third-party packages, and `internal` for non-reusable packages. This property is useful on its own, but it is especially useful in repositories that have lots of

[2019-03-04 21:00] theckman commented on #10
It's not clear and unambiguous to me, because it's honestly not clear what value it adds beyond cognitive overhead and unnecessary abstractions. To me it's just noise. I don't really care what directories my Go source code is in. What makes you care?

My editor has jump to definition, and I have other tooling I can use to discover files based on their declared types. I also have an easy way to ope

[2019-03-04 21:03] peterbourgon commented on #10
If I'm looking for Go code, I know where to look. Equally importantly, I know where _not_ to look: is `hack/` a poorly-named package, or a collection of scripts? With `pkg` I know for sure. Even more concretely, when I run commands that target Go source files or source trees, I can point them in the right place, without paying the costs of tree walking or stat calling on my (potentially very large

[2019-03-04 21:06] theckman commented on #10
Hmm, that makes me less convinced. If I'm looking for Go code I generally have an entry point. A function, a file, some string to search for, etc. I use my editor's tools to do the work beyond that. It seems like a pretty inefficient workflow to just go spelunking in repos looking for Go files without any other way to drill-down to what you want to find.

If someone wants to keep all the `go` code

[2019-03-04 21:09] peterbourgon commented on #10
Well, I guess it's moot, really: despite the rather lofty implications of the name of this GitHub organization and repo, there is no standards body which canonizes an e.g. repo layout, only the collective opinions of Go programmers. I'm happy to let time be the judge of this practice. I'll bow out now.

[2019-03-04 21:22] rakyll commented on #10
(I don't have any strong opinions whether this can be a canonical practice and please say so if this is a bikeshedding discussion.)

I think the question is whether location and organization should tell anything about a Go package or not. Organizing packages under pkg/ makes their import path include "pkg" and advertise that they are not main packages. It might be an arbitrary distinction which ha

[2019-03-12 18:05] rhugga opened #22 "How in the hell do you use go modules with a complex app with multiple directories."
Every document or blog I have found are merely some simple helloworld crap with a single directory of source files and no external libraries.

I'm trying to convert my k8s controller to using go modules because getting our CI/CD system to work with dep is an ungodly nightmare.

Is there a *good* doc or example of someone using go modules with a complex directory structure of many go packages at mu

[2019-03-12 19:11] Clivern commented on #22
Switching from dep to go modules is pretty easy @rhugga

first activate go mod if not active
[code]

to switch from dep to go mod
[code]

so `go build ./...` will fetch your dependencies and add them to `go.mod` and `go.sum`.

a nice wiki https://github.com/golang/go/wiki/Modules

[2019-03-23 23:39] giefferre commented on #10
There's no mention of `cmd`, `pkg` or `internal` in the official Go documentation.

What I can understand from the doc is: _create packages only if you really need to_. That basically means that you should avoid exporting internal structs and methods, possibly keeping them together with the main package.

[2019-03-24 04:34] kcq commented on #10
@giefferre the `internal` directory is actually in the official docs :-) It's referenced in the Go 1.4 release notes: https://golang.org/doc/go1.4#internalpackages

[2019-03-24 04:47] kcq commented on #10
@peterbourgon It's ok if not everybody finds the `pkg` pattern useful. A lot more people do though. Thank you for sharing your arguments for it! There have been many precedents of similar patterns created in many different languages... The hungarian notation is one of them (not saying it's good or bad :-)) where you have an unofficial construct that indicates the intent.

[2019-03-28 15:21] danf0rth opened #23 "gRPC ant proto declarations?"
What is a common approach when project is using a protobuf and gRPC?

- Where to keep `*.proto` files?
- Where should be generated files placed, near to protobuf declarations or in another place?
- Any other tips to build clean folder layout when using protobuf and grpc?

Thank's to everyone!

[2019-03-30 09:59] jadeydi opened #24 "We are following Golang standards project layout, can we be added to the examples?"
Hello,

As the title said, here is the address: https://github.com/godiscourse/godiscourse

Thanks

[2019-04-02 23:17] williamh commented on #22
I have wondered this as well. Where do go.mod and go.sum end up in a complex project?

[2019-04-15 16:23] dionysius opened #25 "A lib (meaning /pkg) where we're forced to return a Version (considered /internal)"
Generally I'm still unsure about pkg, but lets keep that there https://github.com/golang-standards/project-layout/issues/10. It still applies that you need your lib for external use must be independent from internal stuff.

Assuming I'd like to follow the current project-layout consensus, especially `/pkg` and `/internal`:
I have a lib implementing [this](https://github.com/kubernetes/kubernetes/b

[2019-04-29 11:31] ComaVN commented on #9
I'm kind of struggling with the same thing, and what I read here confirms at least that the intent of the `internal` directory is what I'd expected it to be. However I don't understand how to import the internal packages in [my `cmd` app](https://github.com/ComaVN/project-layout)

See also https://stackoverflow.com/questions/55898667/how-should-i-import-my-own-internal-packages-in-go , which someh

[2019-06-03 13:40] oswee commented on #23
`*.proto` files accordingly to these recommendations should be stored in `/api/proto/v1/*.proto`. As well generated swagger files in `/api/swagger/v1/*.swagger.json`.

[2019-06-07 12:37] jkomyno opened #26 "Set this project as repository template"
Thank you for this project. GitHub has just shipped a new feature that allows to mark a repository as a template for new repositories. Setting it up should take just a minute, but it's not something other developers can do via Pull Requests: it requires admin privileges.

Here's how to do it: https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

[2019-06-13 13:10] atipugin commented on #23
And what's about generated `*.pb.go` files?

[2019-06-14 14:45] oswee commented on #23
I am not an expert, so... but i am generating them into `/pkg/api/v1`.
I have `protoc-gen.sh` file with content like this:
[code]
It should be executable - `chmod +x protoc-gen.sh`
Simply run it by `./scripts/protoc-gen.sh` from projects root directory.

`third_party` in my case contains protobuf annotations, etc.

[2019-06-20 19:48] jamelt commented on #10
A very new Go developer, but as an experienced developer. Here are my thoughts. I generally like the idea of **pkg/** but I'd say doing things the community-accepted way is more important. I wish there was a definitive answer.

### For `pkg/` Folder:
#### Pros
- 👍 Less files in a top level directory, less friction to understanding a foreign codebase. Standards help newcomers navigate.
- 👍 Fewer ho

[2019-07-03 11:59] DominicTobias commented on #18
I like the idea of using Go, mostly for performance reasons (not the nicest or most succinct syntax tbh) but I find it strange that 4 years later there is only a rudimentary, barely working package system that doesn't scale at all well once you go beyond a single directory. Guess I check back in another year 😔

[2019-07-03 13:04] frederikhors commented on #18
@DominicTobias, can you explain it better please?

[2019-07-03 15:54] DominicTobias commented on #18
As far as I can tell if I want to structure an application how I would in another language (lots of folders), I have to do this require/replace thing which causes the IDE/intellisense not to work properly and Go has no concept of local private packages, in fact I would just describe them as modules that make up an app, they're not intended to be separately published. I wish I could just structure

[2019-07-03 16:07] frederikhors commented on #18
I think you need to understand how go mod works.

[2019-07-04 00:45] ypeckstadt commented on #18
Since I created this issue I really haven't run into any problems anymore while working with a project that has many folders and that follows the go-lang standard folder layout recommendations.
As mentioned before just put the go mod in the root and everything works just fine.  Having experienced this now, to be honest, I don't even understand my initial problem anymore :) Probably because I tried

[2019-07-04 13:27] cbrake commented on #18
Go does not support relative imports.

https://stackoverflow.com/questions/38517593/relative-imports-in-go

But, like others, I've had no problems structuring large applications with lots of directories. You need to give the module a name, and then use it with all imports. Example:

https://github.com/simpleiot/simpleiot/blob/master/cmd/siot/main.go

If you set up your editor to use use goimports,

[2019-07-04 15:03] DominicTobias commented on #18
Thanks all, I'll give it another go!

[2019-07-27 09:21] lazaridiscom opened #28 "void"

[2019-07-30 14:45] mihai-chiorean commented on #7
in the exceptions to the norm of using singular, provided above, wouldn't "string" (as opposed to "strings") conflict with the reserved keyword `string`? same for errors and bytes. I think that may be the rationale behind the exception to use plural

[2019-08-02 08:41] ndabAP opened #30 "Not clear where to put files containing secrets"
I've a [service account file](https://cloud.google.com/iam/docs/creating-managing-service-account-keys) generated by Google which contains (secret) keys. I can't conclude from the current setup where to put these into.

My first idea was `configs`. But for me, `configs` can be public.

[2019-08-02 08:57] ilazakis commented on #30
Public or not, committing any type of secret in source control is a bad practice/idea.

Even private repos can accidentally become public, wrecking havoc in operations if secrets were included for at least a few days, if you’re lucky to find out early enough.

Secrets should be dynamically resolved using services specifically solving that kind of “config/secrets discovery” problem.

That is, I don

[2019-08-02 09:33] ndabAP commented on #30
Totally agree. I don't want to commit them. My idea was to store an example file like `*.json.dist` to signal another developer to place their personal secret file here.

[2019-08-02 09:37] ndabAP commented on #30
After some discussion at [Reddit](https://www.reddit.com/r/golang/comments/cl1ftn/where_do_you_put_secret_files_into/), the best solution for me would be using an `.env` file:

**.env**
[code]

[2019-08-02 09:53] ilazakis commented on #30
Ah, yes, of course; assuming the file itself is not committed, that would be the preferable [option](https://12factor.net/config) 👍

[2019-08-02 09:58] #30 closed

[2019-08-02 09:58] ndabAP commented on #30
Thanks a lot for taking the time!

[2019-08-04 22:51] frederikhors commented on #22
@williamh still no answers?

[2019-08-05 21:05] frederikhors opened #32 "Where to put "web" assets like .css, .scss/.sass, .less to build, minify and copy to "web/static""
Where to put "web" assets like `.css`, `.scss`/`.sass`, `.less` that need build, minify and copy to "web/static"?

[2019-08-05 21:53] frederikhors opened #34 "Why "web/template" (singular) instead of "web/templates" (plural)?"
Why "web/template" (singular) instead of "web/templates" (plural)?

[2019-08-12 01:27] kostkobv opened #36 "Delete this repo"
Please, delete this repo, because it brings nothing else but confusion and encourages bad practices in go (a lot around naming) especially for beginners.

Especially it's bad when new go developers start to advocate bad practices and use this repo as a reference.

Instead, create a list of resources that would bring knowledge about the "industry standards" (the way how go is written in stdlib)

Li

[2019-08-12 16:09] frederikhors opened #37 "Best practice for file server path name? /files or /static or what else?"
Is there a best practice in GO for file server path name?

I can imagine "`/files`" or "`/static`".

What do you think?

[2019-08-19 10:37] vishal-yadav commented on #22
Typically go.mod and go.sum should be in the project root.

[2019-08-20 06:20] vishal-yadav commented on #18
You can have a look into [kubernetes](https://github.com/kubernetes/kubernetes) project structure which is following a similar topology. Though it also needs require/replace in go.mod

My idea of go-dev can be:
- Using IDE for the purpose of browsing (including navigating to function definition), editing, golint, gofmt with automatic expansion etc. This uses go installation (on VM) with GOPATH set

[2019-08-20 10:28] abshammeri opened #38 "No , it's not golang-standards"
This repo owner confuses beginners (golang-standards), actually its' not a standard. It's just an opinion of a group of coders and historical reasons as it's mentioned in the README and part of the project structure is a bad practice ( like vendor or pkg directories, we have something called mods now!) . I suggest to move this project to another organization called "golang-non-standard" or remove

[2019-08-20 10:39] develerik commented on #38
@abshammeri is there something like a standard? And if yes, where can I find it?

[2019-08-20 15:52] abshammeri commented on #38
@develerik No, to the best of my knowledge there is no standard for this.

[2019-08-20 16:50] frederikhors commented on #38
@abshammeri so this is a try to "standardize" this, nope?

[2019-08-20 21:57] ilazakis commented on #38
I’ve always found the [official guidelines](https://golang.org/doc/effective_go.html) comprehensive enough for most projects.

[2019-08-20 23:01] frederikhors commented on #38
I cannot find in official guidilines you linked something about directories structure. Can you link me something?

[2019-08-29 14:05] ComaVN commented on #36
Thank you for this comprehensive list of resources.

However, nowhere in the list do I see a simple answer to the question: How should I layout my project directories so I don't need to restructure everytime my app grows more complex? If you have specific concerns about the way this example does things, fine, but surely you see value in a standardized project layout that beginners can use without

[2019-08-29 16:06] dsoprea commented on #36
+1

[2019-08-30 07:38] runeimp commented on #32
@frederikhors I personally would put such source files in `web/source/css` and have the _compiled_ results output to `web/static/assets/css` or `web/static/css`.

[2019-09-11 15:38] jozef24 opened #39 "where put paths and router to make an API"
where put paths and router to make an API in this arquitecture

[2019-09-21 19:47] rof20004 commented on #36
+1

[2019-09-21 19:47] rof20004 commented on #38
+1

[2019-09-23 09:13] YJinHai commented on #39
I want to know that

[2019-09-27 14:22] loveship00 opened #40 "fu** stupid project !"

[2019-09-27 17:45] eliben opened #41 "This repository has multiple serious issues"
**The existence of this repository is harmful for Go beginners.** People arrive here from Google searches, looking for ways to structure their small, simple packages. What they find is overwhelming, at the least.

It has several serious issues:

1. No `go.mod` file, while modules are becoming a standard for Go dependency management
2. Suggests to place all exportable code in `pkg/`, which is outda

[2019-09-27 18:01] kcq commented on #38
@abshammeri thank you for sharing your thoughts! It's great! Your definition of standard is a bit too rigit though. There are official standards and there are de facto standards based on the historical and emerging patterns in the community. It's also ok not to like the `vendor` or `pkg` patterns. Feel free to do whatever makes sense for you. Just because you don't use/like those patterns doesn't

[2019-09-27 18:10] kcq commented on #38
@develerik , @frederikhors the exact directory structure will be heavily influenced by the nature of the application you have (a web app structure will look different than a backend microservice app). This repo captures a few basic go-specific directories you might have (e.g., `/cmd`) and a number of generic directories you'd want to have in a big enough project. I highly recommend looking at the

[2019-09-27 18:12] kcq commented on #40
Not cool and not professional :-(

[2019-09-27 18:12] #40 closed

[2019-09-27 18:28] kcq commented on #41
Thank you for sharing your thoughts @eliben! I understand where you are coming from and the concerns you are raising. The main README tries to address, at least, some of them. You should leverage as much as it makes sense and for simple projects `main.go` in the root directory is all you'll need. However, at some point you outgrow that phase...

Note that go modules is still not officially out (ev

[2019-09-27 18:36] kcq commented on #36
@kostkobv thank you for sharing your thoughts and references! Some of those references are actually already mentioned at the very beginning of the main README file (e.g., Code Review Comments and Best Practices for Industrial Programming).

Speaking of confusion... I'm a bit confused with your comments about bad practices around naming. The repo itself doesn't have anything about naming Go code or

[2019-09-27 18:44] Ariemeth commented on #40
I disagree with this repo, but this issue is just wrong @loveship00

[2019-09-27 18:48] kcq commented on #34
@frederikhors this is mostly based on the general guideline in Go around the package names. For example, https://rakyll.org/style-packages/ (also referenced in the main README) has a section that called 'No plurals' with a nice and short description for it. The intermediate directory names could be plural potentially, but it's nice to be consistent. There's always an exception... for example, one

[2019-09-27 18:52] kcq commented on #26
@jkomyno thank you for the reference! At this point it's intentionally not a template to avoid being too prescriptive about the project layout :-) It's meant to be a reference where you pick and choose what you want. It also doesn't have any code to make it super useful as an actual template. Having said that it looks like you and others would find it useful, so i'll be happy to enable it.

[2019-09-27 18:57] kcq commented on #24
@jadeydi definitely :-) Note that the examples don't list all projects leveraging the corresponding layout patters, so they are not meant to be complete. It's usually based on the project popularity. Happy to add more, of course.

[2019-09-27 19:02] dsoprea commented on #40
Feel free to report them to GH.

https://github.com/contact/report-content

On Fri, Sep 27, 2019, 14:44 Edward Carmack <notifications@github.com> wrote:

[2019-09-27 19:03] kcq commented on #28
@lazaridiscom I understand where you are coming from. There are benefits in keeping the code separate from non-code. It's not Go's way of doing things though. Definitely feel free to use the `code` folder if it makes sense for your projects. Things get pretty interesting with large projects and especially with mono repos :-)

[2019-09-27 19:50] kcq commented on #41
@eliben by the way, I saw your recent blog post where you mentioned the official CommonMistakes Go page and how small it is. [`50 Shades of Go`](http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/) has a few extras :-)

[2019-09-27 20:45] kcq commented on #37
@frederikhors it all depends :) There's no hard best practice and a lot of it depends on the context (in some cases it has little to do with Go and it's influenced by other components you are using and the type of data you are serving :-)). For example, if your repo includes your project's website its static files can go under `/website/assets` or `/website/static`. If it's the static files for yo

[2019-09-28 01:35] #24 closed

[2019-09-29 10:47] #37 closed

[2019-09-29 10:51] frederikhors commented on #40
Feel free to report them to GH.

https://github.com/contact/report-content

[2019-10-09 15:19] TimSatke commented on #28
IMO, when you use a `code` folder, you can use the `pkg` folder for that.

[2019-10-10 21:13] dhnikolas commented on #39
I think in **/internal**, because it is unlikely that the same endpoints will be used in other projects

[2019-10-17 16:25] Phantal opened #43 "References for anti-recomendation"
In the `/pkg` section; either state the pros/cons or link to something that expounds

[2019-10-17 17:51] kcq commented on #43
The pros are mentioned in the referenced talks (e.g., Best Practices for Industrial Programming). The cons are also mentioned (extra level of nesting, slight confusion for the newcomers due to Go's use of `pkg` to store compiled libraries).

[2019-10-18 14:17] scirlig-ellation opened #44 "test/.dir or test/_dir are not ignored by Go"
The directories starting with `.` or `_` are not ignored by Go. At least I tried importing exported symbols from those packages and it totally works and builds

Not sure what do you mean by the phrase:
[code]

[2019-10-18 14:39] scirlig-ellation commented on #3
I don't think you're right. Take a look inside `$GOPATH/bin` after running `go install ./...` and testdata contains some files with `package main` declaration. I'm still trying to understand what's so special about this dir

[2019-10-20 09:20] Phantal commented on #43
Odd.  I didn't see the cons while reading; I'll look at it again

[2019-11-04 23:05] lazaridiscom commented on #28
Many go projects are not that (large mono-repo projects), but ordinary projects. There, the code-folder is simply a organizational "must" (e.g. "Standard-Procedure").

this *could* be ok (and should possibly be suggested in the "golang-standards".

But suggesting "If you can help yourself try not to adopt this Java pattern. You really don't want your Go code or Go projects to look like Java :-)" i

[2019-11-05 21:47] m15ch4 opened #45 ".go files generated from swagger.yml"
What is a common approach when building API Server from swagger spec file (usually swagger.yml).
Command `swagger generate server...` generates a bunch of .go files. Where those generated .go files should be placed.
Is a good approach to put them to /pkg/api/ ?

[2019-11-06 07:06] w1252675615 commented on #18
if project use replace to import package in the same project, other who want to import the package will not found the package, because the path is ../package-name.

[2019-11-06 13:57] tatarsky-v commented on #18
Are there any examples without 'github.com/' and $GOPATH prefixes?

[2019-11-08 03:42] tkstorm commented on #38
Patterns can be moderately evolved, just like software architecture.
Before there is no standard, it is best to refer to the layout, add your own thinking and adapt to your own project.

[2019-11-13 19:57] candlerb commented on #18
@alexeldeib: shouldn't it be "package main", rather than "package app", in $DIR/cmd/app/main.go ?

@tatarsky-v: the following works for me with go 1.13, in a random directory outside of GOPATH.

I first did `go mod init example.com/foo`, then created source files so it looks like this:

[code]

(I chose different package name than the directory name just to demonstrate)

If I `cd cmd/hello` and `g

[2019-11-13 20:21] alexeldeib commented on #18
@candlerb Executable commands must always use package main. (quoting https://golang.org/doc/code.html, under "Package names")

Here's a demo project producing three binaries: https://github.com/alexeldeib/godemo

Made a demo project here, which I created outside of my GOPATH (I barely touch my GOPATH these days, except to clean up).

[2019-11-13 20:25] candlerb commented on #18
Correct - I was referring to [this comment](https://github.com/golang-standards/project-layout/issues/18#issuecomment-449873907) of yours, second half, where you put your `main()` function in `package app`.  Typo?

[2019-11-13 20:27] alexeldeib commented on #18
Yup, leaving my typo and answering completely for later visitors. 😄

Note also that `/pkg/` is convention -- some projects (particularly those which are exclusively used as libraries) forgo the use of top level `/pkg` and expose their contents directly.

e.g. https://github.com/google/go-cloud

Some go even flatter:
https://github.com/hashicorp/memberlist
https://github.com/packethost/packngo

[2019-11-13 20:39] ezmicken commented on #9
I don't understand the toxicity either... It's really hard to grasp for people coming from other package managers. I'm still not sure I understand :( I ended up putting my whole project under $GOPATH and importing the internals this way `projectName/internal/app/internalPkg`

I guess if you want to organize this project with your other git projects you've got to fiddle with your paths :/

[2019-11-14 15:57] tkstorm opened #47 "Where should the generated Log and similar files be stored?"
Where should the generated Log and similar files be stored?

Named a `storage` floader in the root directory?

[2019-11-16 08:46] cwansart opened #48 "No src folder although the official guide tells to?"
Hey,

I was wonderin what you think about the official Go documentation, which recommends creating a `src` folder, whereas you tell us not to.

Here's the link: https://golang.org/doc/code.html

[2019-11-19 06:34] gsom95 commented on #48
Official Go documentation specifies **workspace** hierarchy whereas here it's about **project** hierarchy. That is your project directory is inside workspace directory.
Read this [part](https://github.com/golang-standards/project-layout#src) carefully.

[2019-11-19 07:39] cwansart commented on #48
Okay thanks. I may have misunderstood that. Thanks for pointing out.

[2019-11-19 07:39] #48 closed

[2019-11-21 06:50] calixwu commented on #38
+1

[2019-11-21 09:10] koddr commented on #38
I think, better name for this project is `golang-best-practice`, than `golang-(non-)standard`. Because, for my self, this folder's structure is best entry point for `how to name this?` to start new Golang project.

Not `Holy Grail`, but still better than nothing! 👍

[2019-11-21 09:15] yordis commented on #38
I just started 2 days ago in GoLang, I agree with @koddr it may no be the best name, but it is definitely better than nothing.

As a newbie, I will appreciate if you folks align in such a project rather than bite-shedding and fighting over something that hurts the ecosystem from the perspective of an outsider.

I much rather align with the sentiment, than using my time thinking about this stuff, o

[2019-11-24 04:16] #28 closed

[2019-12-02 12:13] fallais opened #50 "What happens if I put the frontend (SPA) inside the Web directory ?"
What happens if I put the frontend (SPA) inside the Web directory once I need to deploy ?

I mean, I use CI to build let's say three Docker containers, reprsenting my three microservices. With Cobra.

They are called `mysoftware-collector` and `mysoftware-pusher` and `mysoftware-server`.

And on another Git repository, I develop the `mysoftware-frontend` with Angular.

If I use the `/web` for the

[2019-12-05 10:47] davix commented on #18
Hi guys, on what condition we can close this issue?

[2019-12-05 11:24] candlerb commented on #18
I think that to close this, a note should be added under the [`/pkg` heading](https://github.com/golang-standards/project-layout#pkg) explaining the consequences if you choose to use this directory together with `go.mod`.

If I understand correctly, they are:

1. The users of your package will need to specify the `/pkg` suffix when they import your package - e.g. `import "github.com/username/libna

[2019-12-10 20:42] thefuga commented on #36
Go's stdlib should not be followed. This have been stated by Rob Pike in multiple occasions. As Rob says, not even them knew what was the standard back then. They were not trying to create standards. The effort was to make thinks effective, not to draw standards or good practices.
The examples given in this repository (such as kubernetes) are much closer to a "standard" than Go's stdlib.
Instead o

[2019-12-13 10:06] taisph commented on #36
I've found this repo immensely useful when structuring my own and my team's projects - even our non-go projects adhere to this structure. This PR should just be closed IMO.

[2019-12-13 10:13] taisph commented on #11
It would be useful with common guideline for sql init and migration files. There are too many options. :laughing:

[2019-12-15 06:55] cyantarek opened #51 "How to use this layout for a gRPC API Microservice Project?"
It would be really helpful if you can give an example on how to use this layout for gRPC based microservice systems, since gRPC and Microservices are quiet common now a days.

[2019-12-16 00:10] freman commented on #5
remember the old days where making a project work was

[code]

[2019-12-16 05:38] Kulak commented on #5
well, I think the simple is back.  When I am looking at topic "Missing simple approach to building and vendoring" out of this project context the issue has been fixed with GO modules for me.
In fact, then has never been easier to code in GO when modules are in use. ;)

[2019-12-16 06:33] andig commented on #5
Full ack. Closing this issue as modules are the solution I was looking for. Dependency mgmt plus getting rid of gopath.

[2019-12-16 06:33] #5 closed

[2019-12-21 13:10] cyantarek commented on #51
No one commented yet :(

[2019-12-21 13:53] #51 closed

[2020-01-04 14:44] dominikbraun opened #52 "Rename the organization"
The name organization name `golang-standards` is misleading for beginners and people new to Go. It implies that the included repositories - which are misleading as well, btw - conclude official standards, which is definitly not the case.

[2020-01-04 14:49] cwansart commented on #52
I disagree. Especially, when you read the README file which states in the second sentence:

[2020-01-04 14:57] dominikbraun commented on #52
If this isn't a standard by the Go team, why is it called golang-standards?

[2020-01-04 15:26] frederikhors commented on #52
I think we should listen people in open source world. Can we call it "Golang Layouts"?

[2020-01-04 15:54] koddr commented on #52
I think, better name for this project is `Golang Layout Best Practice`.

[2020-01-05 10:40] dchapes commented on #44
See `go help packages`:

[The help section then describes other handling of `[packages]` such as the special reserved words `all` `std` and the `...` wildcard and then ends with:]

So they aren't ignored in the sense you imply (directly referencing them in an `import` statement) but are ignored by go tools. E.g. doing `go test ./...` will run try to build and test the package in the current direct

[2020-01-06 07:54] scirlig-ellation commented on #44
By ignored you mean not parsed by the go tools. Hmm, I still think you can explicitly import them, and the go tools can't ignore them then 😄

[2020-01-06 09:43] cyantarek opened #53 "Proposal: It would be nice if there's a CLI to generate this layout"

[2020-01-06 09:46] cyantarek opened #54 "Go Modules is fully enabled/official right now, can we have the update in this project layout?"

[2020-01-06 10:52] koddr commented on #53
@cyantarek hi 🤝

I worked around this idea a few weeks (start at Nov 2019), because I need exact "lazy" solution for every new project at my current work 😉

So, my solution is more like `create from scratch base full stack app`. It means, you can create from one CLI command:

1. REST API (or/and gRPC) with popular Go packages (included rules of `project-layout`);
2. SPA with Preact/React/Vue/Svelt

[2020-01-06 11:08] cyantarek commented on #53
@koddr hi, very cool project. I will try my best to contribute onto your project.

[2020-01-07 15:26] dominikbraun commented on #53
Note that the patterns and project layout from this repository are discouraged and deprecated. I would not recommend building a new project on top of this.

[2020-01-07 15:45] cyantarek commented on #53
@dominikbraun, deprecated? I wonder, Why? Then what project layout we will follow?

[2020-01-07 15:55] dominikbraun commented on #53
Many things in this repository that are considered as "standard" are actually discouraged, especially the `pkg`-structure. See this: https://github.com/golang-standards/project-layout/issues/10

It entirely depends on your project. For different projects there are different layout that match best. However, there are some basic principles you need to keep in mind: https://rakyll.org/style-packages/

[2020-01-17 14:34] mattharrigan opened #55 "where are go.mod and go.sum files"
Hello,

I'm new to go and have what I think is an extremely basic question: Where are the go.mod and go.sum file or files?

Thanks

[2020-01-17 15:06] koddr commented on #55
@mattharrigan hi! 🤝

First, check your Go version. It can be `v1.11` or higher.

Next, type in console (on root of your Go project):

[code]

Basic output of this CLI command is file `go.mod`:

[code]

If root folder have some Go files, `go.mod` can contain something like this:

[code]

File `go.sum` will be created automatically.
It's like `package-lock.json` in Node.js, but for Go Modules.

Hope

[2020-01-17 15:15] mattharrigan commented on #55
so typically there is a single go.mod and go.sum? i have go 1.13

[2020-01-17 15:36] koddr commented on #55
@mattharrigan _typically_ this files can be at root of your Go project.

[code]

For example, please look at one of my _template Go project_ (for `net/http`):
https://github.com/create-go-app/net_http-go-template

[2020-01-20 06:57] akessner commented on #52
`golang-best-practices` works well to, since I assume there will be more than just layouts.

[2020-01-20 08:11] koddr commented on #52
@akessner yep. Something like this:

Organization: `golang-best-practices`

Repos:
- `project-layout` — this repo
- `projects-examples` — something about _real live_ examples (separated by subject: API, CLI, etc.)
- `docker-configs` — something about Go + Docker
- `...`

And result is `https://github.com/golang-best-practices/project-layout`
Simple and useful! 👍

[2020-01-20 17:14] davidpfarrell commented on #52
`golang-best-practices` is growing on me.

In addition to examples mentioned by @koddr I think it would also be useful to host template repositories for various use cases:

* [GitHub Blog: Announcing Template Repostories](https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/)

[2020-02-23 18:39] mishudark commented on #50
the CI can perform a list of modified files and grep over to determine if the `/web` was modified, once it is flag as modified, the usual packaging and deploy pipeline of your angular project can be run

[2020-02-27 19:56] gromovadarya90 opened #56 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-03-02 12:42] unkeep commented on #11
@taisph, @kcq might be:
a) scripts/pg-migrations (not sure `scripts` is intended to contain sql)
b) db/pg-migrations (a new `db` top-level dir)
c) assets/pg-migrations (I afraid assets would become a "trash" dir, if so let it be named etc right away)

[2020-03-10 12:54] taisph commented on #11
I'm leaning towards `/db` or `/sql`. The former to avoid assuming the database is always SQL.

[2020-03-11 05:40] kcq commented on #52
Great to see this discussion! It brings up a lot of good points and it's true that, in theory, the org name can be a bit confusing, but it's only the case if you don't read or totally ignore the README. If somebody doesn't read it you can't really fix this :-) And even if the org name is changed to `golang-best-practices` there'll be other people bring up similar arguments and good points against

[2020-03-11 05:47] kcq commented on #55
Now that Go 1.14 is out and Go Modules are officially ready for production it makes sense to update the repo though keep in mind that this repo is not meant as a template for projects with default files, etc. Makefile in the root directory is empty, so go.mod and go.sum are likely going to be empty too in this repo. Sounds like there's value in having a set of actual templates though. The only got

[2020-03-11 05:54] kcq commented on #53
@dominikbraun thank you for actively participating in the discussion! It's great to have a wide community discussion with a diverse set of opinions. It's ok to have your own preferences, which might be different from the patterns captured in this repo, but you also need to be able to let others have their own too. Let the community members decide what works for them and what they like and what the

[2020-03-11 05:58] kcq commented on #53
@cyantarek / @koddr This is a great idea! Thanks for kicking off the discussion around it! It's also good to leverage similar capabilities in other dev stacks to learn from them and to make it even better (e.g., Yeoman in the node.js ecosystem).

[2020-03-11 06:07] kcq commented on #11
A top level `/db` makes sense (or `/sql` if you don't care about keeping it generic :-)).

Just for the fun of it i'll add another option: `/api/db`. Those sql file represent the data model for your data store and the `/api` folder, in general, is a good place for the data model and interface descriptions (with swagger, protobufs, json schema, sql, etc) :-)

[2020-03-11 07:40] kcq commented on #30
whatever the name/place is it's good to have it in the .gitignore file (if it's a default path/name then a template .gitignore file can be used :-))

[2020-03-12 17:35] dwschulze opened #61 "golang.org says to use a src/ directory"
Your comments on the use of a src/ directory aren't correct, at least in the GOPATH approach which has been the recommendation in the past:
    https://golang.org/doc/gopath_code.html

Here's what happens if you don't have a src/ directory in your project:

lctl.go:3:8: cannot find package "lctlutil" in any of:
	/home/dean/bin/go1.14.linux-amd64/go/src/lctlutil (from $GOROOT)
	/home/dean/src/golan

[2020-03-18 17:42] hielfx commented on #61
HI, if I am not mistaken, with `GOPATH` you need the `src` directory because it's a `workspace` and the workspace needs a `bin` and a `src` folder: https://golang.org/doc/gopath_code.html#Workspaces

For go modules, you can structure your project however you like because it's not constrained by the `GOPATH` variable so you "don't have the need to use a `src` folder" (you can still use it though).

[2020-03-24 11:49] TimSatke commented on #61
That is correct. You should use go modules now anyway, so no source directory needed. Also, the source directory is a global one, and not per project.

[2020-03-26 10:35] skaldesh commented on #36
@taisph I second this, close this issue

[2020-03-26 10:37] skaldesh opened #62 "[Question] Where to store .ddl files"
Hi, I was wondering, where would you store .ddl files? In `/configs`? In the same directory as the go database code that uses it?

[2020-03-28 18:51] SC7639 opened #63 "Working with internal for a go module"
I was trying to use the `internal/app/_your_app_` structure with a go module. To achieve this I had to add the below to my go.mod file and had to add a go.mod file to the relative folder, as I wanted to import as `"github.com/sc7639/network-cli-tool/internal/app/command"`.

[code]

I'm just wondering if this is how you would suggest doing it or if there is a better way I'm seeing?
Thanks in advanc

[2020-04-07 15:29] dd-devnull commented on #52
I'd still say it's misleading. They're not standards and should be named appropriately. — They're opinionated _best_ practices.

[2020-04-12 12:31] #54 closed

[2020-04-20 11:18] tetravalence commented on #61
I'd like if the `src` directory is replicated in any software project according to the [OSS standard](http://freesoftwaremagazine.com/articles/gnu_coding_standards_applied_to_autotools/). For example, John's Jupiter project
[code]
Moreover I'd love if there be a tool like [autoproject](https://packages.debian.org/unstable/devel/autoproject) to configure Go projects.

[2020-04-20 19:28] rubens21 commented on #61
The project layout proposal says:
`Don't confuse the project level /src directory with the /src directory Go uses for its workspaces as described in How to Write Go Code`

I think that is exactly what you are confusing.

The Go documentation talk about the `src` dir used by Go before Go 1.13. (https://golang.org/doc/gopath_code.html#Workspaces) That directory structure used to allow Go finding the

[2020-04-21 07:13] tetravalence commented on #61
Negative, I'm saying to include your project-layout in `src` directory to comply with the OSS standard. Anyway It's a matter of personal preference. No problem.

[2020-04-21 12:39] rubens21 commented on #61
@tetravalence,  please read my comment carefully. I did not mention your comment.

My comment was about the project layout proposed by this repo, not about your proposal.

[2020-04-26 21:45] sheikhusmanshakeel commented on #22
This go module hell is real people!

[2020-04-27 03:42] dsoprea commented on #22
I also have to anchor it with a .MODULE_ROOT file in the project root and have a `GetModuleRootPath()` function in the root package that knows how to search and find the root project path in order to find assets required for the unit-tests. Need to set a variable for it in Travis CI config. Have been unable to find any other way (since all of the projects flatten into executables and there is only

[2020-05-14 10:57] kostix commented on #52
[Another person got tripped by the name](https://stackoverflow.com/q/61777351/720999) :-(

[2020-05-18 08:25] Promacanthus opened #66 "Add readme chinese translation"
Add readme chinese translation.

As shown below.

# Standard Go Project Layout

🌍 *[English](README.md) ∙ [简体中文](README_zh-CN.md)*

This is a basic layout for Go application projects. It's not an official standard defined by the core Go dev team; however, it is a set of common historical and emerging project layout patterns in the Go ecosystem. Some of these patterns are more popular than others.

[2020-06-03 09:19] taisph commented on #11
I don't like the idea of putting `db` in the `/api` folder. There are go-based projects that do not necessarily have anything to do with serving an API but still uses a database backend.

`/db` (and `/db/migrations`) seems more like the right fit to me.

[2020-06-08 17:35] timdadd commented on #18
I had a quick look at this example and I see a set of apps under cmd.  However these apps are pulling stuff from git hub (e.g. "github.com/simpleiot/simpleiot/api").  Suppose you want to change api and the app at the same time how do you do that without ongoing promotion of api to github?  What if you don't want the code on github, just locally?
Imagine a scenario of multiple GO APPS with a Docker

[2020-06-09 06:31] tiramiseb commented on #18
Yes :)

In `go.mod` you can put, for instance:

[code]

I put such lines at the end of the `go.mod` file.

... and once the lib is ready for publication, I put it on the git server and I comment this line with `//`.

[2020-06-10 10:29] Luc45 commented on #61
Hey!

If not `src`, where should I put my `.go` files? I found this guide a great resource to organize everything you could need around the actual source code, but I didn't understand where I should put the actual source code at.

Thanks!

[2020-06-12 08:01] colin404 commented on #9
why not put pkg/* to internal director to short the import path.
in the current suggested layout, only two directory locate in internal/, this shoud be confuse

[2020-06-16 21:04] #25 closed

[2020-06-22 09:44] Tockra opened #71 "del"
del

[2020-06-22 11:03] #71 closed

[2020-06-22 11:12] Tockra commented on #61
I assume you need to put a main.go to cmd/application_name
and the rest to internal/application_name/<here>

[2020-06-23 19:07] TheDiveO commented on #22
The Kubernetes Go client is a good example of the go module versioning hell: so far, the Kubernetes go client module maps all stable versions `vx.y.z` since 1.17.z onto `v0.y.z`, such as `v0.17.0`. Until go module versioning starts working in the Kubernetes client, I personally consider this versioning concept to be unready for real-world consumption and only a non-proof of concept.

And that's pr

[2020-07-01 08:24] pawzar commented on #52
rename to `golang-NON-standards`

[2020-07-02 04:43] cjqpker commented on #38
interesting

[2020-07-09 23:16] mleonhard opened #72 "Include buildable library and command example code"
Thanks for showing how to name the directories.  I also need to know how to:
1. Add library code
1. Import library code into a binary
1. Build a binary
1. Perform offline builds

How about adding some example code?  Ideally, this would be a complete buildable repository with short `.go` files and `Makefile` that show best practices for building, running tests, linting, etc.

It would be great to i

[2020-07-13 15:57] peterbourgon commented on #52
This GitHub org and this repo especially generate a huge amount of confusion for new Gophers. Nearly every day in the Gophers Slack, people misinterpret this repo's guidelines as being official or recommended practice. The disclaimer on the README doesn't outweigh the name in the URL.

The recommendations here are neither standard, nor best practice, nor even particularly good, for a large number

[2020-07-13 16:06] dominikbraun commented on #52
Some people accept harming the community if it generates 16.4k GitHub Stars.

[2020-07-14 12:43] ilyakaznacheev commented on #38
Golang is a community-driven language, and this repo is a community de-facto standard.

As a beginner, you will see this in many real projects (and in many companies, it's a real standard now), you also will be asked about it on interviews.

There is no reason to not mention it as a standard now, because it become a real standard.

[2020-07-17 18:33] jordanorelli commented on #38
To call this a "standard" suggests that it is the product of a standards body. This isn't such a thing; [the entire org is literally just @kcq](https://github.com/orgs/golang-standards/people). The only reason there is a github org named "golang-standards" is that if he put it on his personal github account the SEO would not be as good and it would not get as many stars.

Broadly, it should not be

[2020-07-18 04:01] justinpage commented on #52
I've been giving the organization's name some consideration on what an alternative name could be that is less controversial. If we ask ourselves the simple question, as to why we don't like the name, it is because it has the word `standards` in it --which has tremendous weight in this community.

If we take a moment to look at what this organization offers, it's simply this:

This comes directly f

[2020-07-23 05:37] frizbee commented on #36
I'm new to Go, really new, and this repo confuses me. When I run `go test` or `go build` I'm getting this error
[code]

When I run `go build cmd/news-client` I'm getting this:
[code]
When I follow tutorials in Golang, I place main.go in root of my repo, and running go commands without any issue.

I setup go on my machine with instruction from go website. Here is some of my env:

[code]

My /home/u

[2020-07-23 06:03] taisph commented on #36
Try `go test ./cmd/news-client` or `go build ./cmd/news-client` instead.

[2020-07-23 06:35] frizbee commented on #36
Thank you @taisph very simple answer.

for the `go test ./cms/news-client` it return no test file found: `?   	news-client/cmd/news-client	[no test files]` I'm getting the test only when I run `go test ./internal/transport/` and only if I cp my env files from root to that directory, otherwise it return error:
[code]
I'm importing config inside test file
[code]

I do have another question regarding

[2020-07-29 19:20] crodwell commented on #36
@frizbee  you need to do something like this:
`go test -v ./...`

The layout overall isn't too bad, but the /cmd thing should be removed as this makes basic operations a dev would expect to work annoying.

[2020-07-30 06:32] frizbee commented on #36
@crodwell thank you

[2020-08-20 06:49] 404killer opened #76 "I wrote a script to initialize the project, please check it!"
`#!/bin/bash

PWD=$(pwd)
cd $PWD

if [[ "$1" = "" ]]; then
echo -ne "Please Input The Golang Porject Name: "
read project
if [ "$project" = "" ]; then
echo -e "demo";
PRO_NAME=demo;
else
PRO_NAME=$project;
fi
else
PRO_NAME=$1;
fi
#创建目录
echo "Init $PRO_NAME Directory …"
mkdir -p $PRO_NAME/api
mkdir -p $PRO_NAME/assets
mkdir -p $PRO_NAME/build
mkdir -p $PRO_NAME/cmd
mkdir -p $PRO_NAME/conf
mkdir -p

[2020-08-29 16:25] rubens21 commented on #23
whoever was "ghost", you helped a lot buddy.

[2020-09-01 08:54] bingoIsCoder opened #77 "[Question]Which directory is appropriate for cgo dependency?"
hi,
where to store cgo files? such as .h .so?

[2020-09-10 13:21] nicklofaso commented on #55
I could use some help along this topic. I would like to follow the example folder structure of this repo, but i'm not sure how to properly set up my go modules when I have multiple applications.
[code]
Specifically how can I have app1/main.go reference pkg/packageA of the feature branch that I'm on? Do I need to use `replace`?

Also please note this is a private GitHub repository (not sure if that

[2020-09-11 17:42] arvenil commented on #61
Go itself uses `src` directory for standard library.
Every single `*.go` file of golang is in `src/` directory.
This is exactly the folder you should put your source to avoid mess with all your ci tools, Makefile, documentation, deploy scripts etc.
https://github.com/golang/go/tree/master/src
![image](https://user-images.githubusercontent.com/450355/92956067-86956280-f466-11ea-8462-04345495b996.pn

[2020-09-12 00:27] Tockra commented on #61
@arvenil this is the structure of the go project.
How do you know this is a `official` structure? I saw no official documentation introduce this structure.
Maybe you should look where you are...

https://github.com/golang-standards/project-layout#directories-you-shouldnt-have

[2020-10-02 13:40] tsatke commented on #61
@arvenil Go itself does a lot of things that you shouldn't do. It's generally a bad idea to adapt something just because someone else does it.

[2020-10-02 13:43] tsatke commented on #76
Please wrap the code into three backticks (`)

[2020-10-02 13:44] tsatke commented on #76
I'd consider adding empty `.gitkeep` files in all directories.

[2020-10-10 09:23] tosone commented on #77
`3rdParty` should be OK.

Link c code with static lib is recommend.

[2020-10-23 14:20] perelin commented on #41
Coming from the other side: Im a Go beginner (15ys of developing other stuff) and starting to outgrow the "main.go in root" phase. This repository gave me a nice introduction to some concepts and pointers how to structure my projects. So far I havent seen anything comparable from the official Go project team. So, thanks for the good work @kcq !

[2020-10-30 03:57] ares0x commented on #76
Okay.I modified it.And if you want check it agin,come [here,](https://github.com/ares0x/project-layout) please.

[2020-10-30 07:12] sheunglaili commented on #51
check out #23

[2020-10-31 13:03] doggy8088 opened #83 "Add Traditional Chinese version"
I'd like to contribute a Traditional Chinese (`zh-TW`) version of the README.

[2020-10-31 14:19] rlam3 commented on #12
@kitgary were you able to find a solution? I'm also facing a similar situation as you. Or do you have a sample repo I could tkae a look at?

[2020-12-10 03:30] GunjiKamiya opened #87 "Want to add a Japanese version"
If I want to add the Japanese version, should I add a file like `README_ja.md` ?

Also, when reviewing, I plan to have some Japanese people look at it.

[2020-12-15 00:42] cheesycoffee commented on #39
how about put it on :
`/internal/server/rest/server.go` for rest http
`/internal/server/graphql/server.go` for graphql
`/internal/server/grpc/server.go` for grpc

[2020-12-15 00:53] dhnikolas commented on #39
Exactly what I mean

[2020-12-16 21:13] mlukasik-dev opened #90 "underscoring /web and /website folders (not containing Go source code)"
When using "Standard Go Project Layout" I face serious issue with `/web` directory, which in my case contains really big frontend project. I'm working with yarn workspaces in that folder, so when I run for instance `go mod tidy` command I'm getting the following warnings:
[code]
Also I'm not sure if scanning entire /web folder for anything related to Go is very effecient.
So one possible solution

[2020-12-20 18:24] lerenn opened #92 "Golang API: Code from other languages ?"
Hello,

I'm currently developing a RESTful API in Go and I'm using this helpful layout to organize my project.
However, I'm more comfortable in placing other language client code (by example, Python) to access this API into the main project in order to keep consistency between version.

So I got two questions :
 - Is this really a good idea or should I separate the Golang project from its client i

[2020-12-25 09:28] Deichindianer commented on #92
Hi ya,

Just putting my thoughts here on that :)

I'd say it could live under something like `examples/api-client/python/...` but only if it's a small example.
For a full client library package in a different language I'd put it in a separate repository, makes your life much easier with:

* Keeping release versions in order
* Testing of your client side code
* Different CI pipeline tooling for dif

[2021-01-03 17:09] lerenn commented on #92
Agreed. I think in my situation it's better to go for a separate repository, but if I had to put it inside my repo, I would do what you suggested !

Thanks :+1:

[2021-01-03 17:09] #92 closed

[2021-01-10 22:10] gbaranski opened #94 "Using docker while every service in cmd directory is another image"
Hello, I'm struggling with building each `/cmd/*` separately, not as a single image, and I'm not able to build it when context directory doesn't have go.mod itself. Have anyone managed to use Docker with this layout?

[2021-01-11 03:03] Prajwal-Koirala opened #95 "This but into a golang package"
Hello,
I turned this repo into a simple golang package that u can use to create Golang Projects Structure.
https://github.com/complexorganizations/gocreate

Why write go create?
- Cause i don't want to have to clone this every time and clean this up

Prajwal

[2021-01-17 03:25] Prajwal-Koirala commented on #76
A golang project structure in `shell script`.
Check mine out its in `go` and fixes all the issues with this.

[2021-01-23 11:23] 3ter opened #97 "How to handle working directory change when using `go test`"
If the `main.go` and `mypackage_test.go` don't reside in the same folder, I'm running into trouble when trying to open files while using relative paths.

In the following setup `go run main.go` fails while `go test ./...` is successful. I would like to have both work at the same time.

[code]

`main.go`
[code]

`mypackage.go`
[code]

`mypackage_test.go`
[code]

Is there a standard way of dealing w

[2021-01-29 19:39] kcq commented on #87
hopefully we are good now that the README_ja.md is merged

[2021-02-04 03:52] flowchartsman commented on #94
I do this.

I have a base dockerfile which copies all source files into itself. Then each cmd uses this as a build image, and it builds itself in that container and copies the resulting binary to scratch.

**/projectroot/Dockerfile**
[code]

**/cmd/foo/Dockerfile**
[code]

Doing it this way _does_ mean you will need to get explicit in your `.dockerignore`, since you really only want Go files in yo

[2021-02-10 13:38] osvaldoabel opened #102 "Add Portuguese translation"
Add Brazilian Portuguese translation

[2021-02-15 14:51] caioreix commented on #102
https://github.com/golang-standards/project-layout/pull/103
Its here @osvaldoabel, now just wait for approval

[2021-02-18 01:41] #95 closed

[2021-02-18 09:57] 0uep commented on #53
Se also https://github.com/golang-standards/project-template/pull/2 to add shell script to make standard layout.

[2021-02-18 16:06] siansiansu opened #104 "Add a link to README_zh-TW.md"
I'd like to contribute a link (i.e., [Style guideline for Go packages](https://rakyll.org/style-packages/) (rakyll/JBD)) to `README_zh-TW.md` :)

[2021-02-23 19:29] lewislbr commented on #39
It could also be:
`/internal/api/rest/server.go`
`/internal/api/graphql/server.go`
`/internal/api/grpc/server.go`

[2021-02-24 13:36] Qussth opened #108 "Add Russian Translation"
Hi everyone! I`ve done translating README to Russian, how can I create a merge request or something?

[2021-02-24 21:57] gamorejon commented on #10
So first I like to gently push back on a few of these points:

- "Keeping package names 100% meaningful": There is no pkg package. If there is a directory with no go files in it declaring a package there isn't one. When you import "github.com/xxx/yyy" there is no "github.com" package, it's just part of the import path. One of the commenters above mentioned something about unnecessary abstraction,

[2021-02-25 15:46] paralin commented on #52
Time and time again I see people putting stuff in a `pkg` subdir unnecessarily or shoving half their code behind an `internal` package for no reason, after forking this repo. This is not the "standard way"

[2021-03-03 08:46] insidieux opened #111 "Project for generate project layout"
Hi there!
I've written a small project for generate/bootstrap new projects with your predefined layout.
https://github.com/insidieux/inizio

Yeah, this binary does not create whole structure of this layout, but creates minimal infrastructure for new project, just sit and write code. But it supports plugins, so everyone can easy extend generated project by himself.

If you interested, please provid

[2021-03-06 19:23] insidieux commented on #53
Hi there!
I'have written a simple project to generate go projects based on this layout. Of course, it does not implements all directories. But it supports overriding plus plugins, so you can add/modify everything you want.

I'have created an issue to add to description
https://github.com/golang-standards/project-layout/issues/111

[2021-03-08 19:12] ksandvik commented on #52
Please rename the project name, this is not a Go language standards official committee.

[2021-03-14 10:36] iangregsondev opened #113 "Go build - where to put produced binaries ?"
Hi,

Using the conventions here, so I have cmd/my_app , internal/my_app/... etc

When I do a "go build" - where should the binary be placed?

I was a little confused, I saw build  and deployment - but where should the binaries go that are produced by running "go build"

maybe a directory called bin/my_app ?, it should NOT be under cmd/my_app - I am assuming.

A little confused.

Does anybody give

[2021-03-17 06:56] tgbv commented on #113
There is no standard. Binaries can be anywhere. Note in `.gitignore` they're stripped off git's scraper.

Although since `/cmd` is for your main project applications they should be in `/cmd`

[2021-03-18 09:29] egorzot commented on #108
@Qussth сделай пул реквест со своими измененями, посотри пример в списке пул реквестов преокта.

[2021-03-19 10:15] Qussth commented on #108
Made pull request for russian translation https://github.com/golang-standards/project-layout/pull/116

[2021-03-28 14:55] iangregsondev commented on #113
Thanks @tgbv ,

That makes sense, thanks.

Confused about one thing though, you state the binaries are excluded via gitignore.. I presume you mean ".exe" on Windows ?

What about Linux or mac ?

Or do you mean you exclude *all* files from cmd unless they end in .go ?

[2021-03-29 05:35] tgbv commented on #113
I meant ".exe"
Linux binaries have no standard extension (check https://askubuntu.com/a/174356).
I don't know how Mac handles binaries

I did not mean that, but it's a tricky question.

It makes sense to have the compiled binaries in `/cmd` but not to commit them on git repo --- which is why ".exe" files are excluded in gitignore. If linux had a "executable file extension" standard, gitignore woul

[2021-04-09 17:59] rsc opened #117 "this is not a standard Go project layout"
The README makes clear that this is not official, but even the claim "it is a set of common historical and emerging project layout patterns in the Go ecosystem" is not accurate.

For example, the _vast_ majority of packages in the Go ecosystem do _not_ put the importable packages in a `pkg` subdirectory. More generally what is described here is just very complex, and Go repos tend to be much simpl

[2021-04-13 19:02] iarosb commented on #117
@rsc  could you please share a few links to some trustworthy (from your point of view) resources to learn more about the best practices for writing "idiomatic " Go code? Thank you in advance.

[2021-04-15 18:31] henvic commented on #117
@iarosb, I always recommend anyone starting with Go to read

https://golang.org/doc/effective_go
https://github.com/golang/go/wiki/CodeReviewComments
https://github.com/golang/go/wiki
https://golang.org/ref/spec

I feel relieved to see this Russ Cox opening this issue!
I always hated how it sells the idea of being something official and how inaccurate it is.

Quite a few times, I had a hard time b

[2021-04-15 19:46] iarosb commented on #117
@henvic  the reason I ended up here asking for links is that I've seen many developers referring to this repo as if it has some official status, but it seems to be very questionable in a way it relates to the core ideas behind Go's creation. I'll go through those resources and your help is much appreciated.

[2021-04-17 20:50] rakyll commented on #117
What @rsc describes here is a problem I observed many times. I saw many projects trying to "fix" their layout based on what's provided as a reference here. It creates confusion and conflict among contributors. The project is doing a good job having a disclaimer in the README, but it doesn't seem to be effective because many people don't read the text and assume this is an officially endorsed proje

[2021-04-23 20:28] theckman commented on #117
I am 100% aligned with both @rsc and @rakyll on their comments. We experience the same misconception about the status of this repository in the Slack workspace, especially for those who are new to the language and are trying to figure out how to do things "right". I am not sure that I get a sense, at least in our space, that it's getting any worse, but it's frequent enough that I would be comforta

[2021-04-24 00:59] flowchartsman commented on #117
I usually point people to https://eli.thegreenplace.net/2019/simple-go-project-layout-with-modules/, and have done so in several issues in this very repo.

You've had several long-time gophers and a couple of go maintainers chime in now. It would be really great if you could archive this repo or, at the very least, move it to a less-misleading org. I don't like saying it, but overall community imp

[2021-04-27 20:53] MrTravisB commented on #117
The issue is the different requirements between a simple system package (which I tend to think the Go team over optimizes for) and more complex apps and services. Every company I've worked at that had larger apps written in Go has a repo that looks very similar to this. Even the [pkgsite](https://github.com/golang/pkgsite) repo uses some of the structure that this repo recommends. Obviously I woul

[2021-04-27 21:36] flowchartsman commented on #117
I think the primary issue is that the org is titled `golang-standards` which, combined with its age, lends it a certain credibility (not to mention SEO) that is unwarranted and has long been a source of confusion for new developers.

Differing requirements is certainly a thing to be aware of, but they're impossible to capture in a single directory hierarchy, and that's part of the problem.  This r

[2021-04-27 23:27] SteelPhase commented on #117
I am in support of the idea this project represents, but these conversations bring up one thing to me. Why doesn't something like this get published by the Go team. It doesn't have to be complex, but I feel like there is a gap in the documentation that this repo partially fills. I stumbled on this when I was in search of this information, and it was extremely helpful. I'm well past this point in m

[2021-04-27 23:50] ivarec commented on #117
Because the Go team cannot know all uses of Go and what project layout each type of project would benefit the most. In general, just tossing a few .go files in the same dir will take you very far.

[2021-04-27 23:57] SteelPhase commented on #117
I think I missed something in my original comment. This was at a time when I was moving from small one off projects, to something significantly larger at work while I was still learning an uncertain about what I was doing. I don't know the best solution, but it seems like there could be at least a bit more in that regard. Honestly even if it was a wiki page with some "hey this could be useful" com

[2021-04-28 00:09] flowchartsman commented on #117
[This blog post](https://blog.golang.org/organizing-go-code) has always been a great place to start, and it's worth noting that @eliben, whose [article](https://eli.thegreenplace.net/2019/simple-go-project-layout-with-modules/) I posted above is in the [Golang organization](https://github.com/orgs/golang/people). There's also [this post](https://rakyll.org/style-packages/) by @jbd (former Go Team

[2021-04-28 00:29] cep21 commented on #117
22k stars shows there is a community need for something like this.  I understand the "it depends" camp for complex projects, but there are guidelines that most people can agree with.  For example, the vast majority of simple projects go projects, when they are starting out, have a go.mod at the root path with a package that probably matches the github repository.  There's probably a LICENSE file a

[2021-04-28 02:44] theckman commented on #117
I am not sure we can assume the user's intent when they star a project. I know for many it signals an interest to understand or explore a project later. It does not mean that they have a need for it. I star some projects I never use, nor ever have a need for.

[2021-04-28 02:52] peterbourgon commented on #10
I have described in some detail the concrete and technical benefits `pkg/` provides. If those benefits aren't useful to you, that's fine. But they are not purely cosmetic.

[2021-04-28 04:03] masakatsu-corp commented on #117
@rsc Does the Go team have an official project layout pattern?

[2021-04-28 05:07] xhit commented on #117
Go doesn't have an official project layout.

I always use the layout like here: https://github.com/golang/go/tree/master/src and itś simple: a folder with that package and all related.

Go is simple, I don't know why developers want to use patterns of others languages here.

[2021-04-28 05:38] theckman commented on #117
@xhit considering we have `go fmt` to consistently style source code, I could see some then wanting or even expecting to find a style to use consistently to structure their project. I think there are some patterns we've discovered over the years that can help projects be more easily maintained, but I think that's much different that some sort of one-size-fits-all "standard" layout.

[2021-04-28 05:48] SteelPhase commented on #117
I think an excellent start to anything even remotely like this could just be to point out the resources you've all been dumping as alternatives. There's all this great info spread all over. Should be enough to at least have a wiki page that you can point people to, when they've been mislead. It's also a good option incase this org sticks around longer.

[2021-04-28 07:02] hitzhangjie commented on #117
- README.md
- conf/*.ini,*.json,*.yaml, put configurations here
- config/, load the configurations underneath conf/
- docs/, documents here if README is not enough
- examples/, give some examples
- testdata/, put the testdata for testcases
- scripts/, put some scripts here if needed
- services/, put grpc services here, if there're multiple services, subdirectories may be considered
- stub/, put so

[2021-04-28 07:31] kcq commented on #111
looks pretty cool @insidieux !

[2021-04-28 07:32] kcq commented on #102
closing it now that the PR is merged :)

[2021-04-28 07:32] #102 closed

[2021-04-28 07:33] kcq commented on #83
closing it now that the PR is merged

[2021-04-28 07:33] #83 closed

[2021-04-28 08:09] clausecker commented on #117
I think discussions about a standardised project layout miss the point.  Go encourages you to derive package names from the last path component.  When importing multiple packages, you want the names of the packages you import to be unique to avoid naming collisions.  A standard layout would mean that it's very likely that many of the packages have the same, standard names and hence collide.  This

[2021-04-28 09:44] krak3n commented on #117
I think that this stems from new people coming to the language looking for guidance on best practices for project layout out. This is especially true if you come from a very well structured world like Django, Flask or Rails and so on where project structure is defined for you, this is where you put your handlers and your models go here etc etc.

Coming to go where that safety net does not exist ca

[2021-04-28 09:47] LyonNee commented on #117
Not long ago, I also encountered such a problem. I used to be engaged in the development of other languages ​​and have certain development experience. When I want to use golang to develop a project, and for this to establish a good code directory structure, I am confused.
Later, after looking at this project and understanding the compilation rules of golang, I developed a "standard layout" of my o

[2021-04-28 09:48] higker commented on #117
i like the layout list :
- [https://github.com/golang/go/tree/master/src](https://github.com/golang/go/tree/master/src)
- [https://blog.golang.org/package-names](https://blog.golang.org/package-names)
- [https://golang.org/doc/effective_go](https://golang.org/doc/effective_go)

[2021-04-28 11:21] codenoid commented on #117
Delete this repository

[2021-04-28 11:24] batara666 commented on #117
Yeahh, let's delete this repo

[2021-04-28 11:40] bitfield commented on #117
I have some sympathy with @rsc about this (OK, a lot of sympathy). I don't think the layout shown in this repo represents either the best way to structure Go projects, or even the most common way (those are quite different things, as you'll appreciate).

That said, though, I guess the author of this repo can publish whatever he wants, even describing it as a "standard", and no one can say boo abou

[2021-04-28 12:47] batara666 commented on #117
@bitfield at least, they rename the org name, but yeah It's hurt them

[2021-04-28 12:49] batara666 commented on #117
@bitfield The org should be renamed. It's that simple.

It's misleading, it harms devs new to Go.

It's ok that Go doesn't have a standard project structure. Any given project's structure is a function of its size, complexity and type.

Go is versatile, so it makes sense that there would be a bunch of different structure choices depending on what exactly your project is.

It also fits that new dev

[2021-04-28 13:04] m2q commented on #117
Isn't Go mostly about _removing_ the overhead of unnecessary decisions? That's why it's such an opinionated language after all.

One of Go's goals is creating code that's understandable by any Go dev. Right? That's why we have strict formatters and linters? Then a standardized directory structure is just an extension of that.

I think giving developers the freedom to organize their code however th

[2021-04-28 13:09] clausecker commented on #117
@m2q The standard opiniated directory structure for Go is no directory structure.  Name every package according to its function.  Chose unique names, not names everybody else uses.  No fun programming if you import 10 packages named `util`.  Perhaps the only thing resembling a convention is having `cmd` for `main` packages as the second-to-last path component.  And of course the few hard-coded dir

[2021-04-28 13:10] colin-p-hill commented on #117
It's fine to put out a recommended layout, even one that may be imperfect. @bitfield is right to point out that there are plenty of blog posts with questionable suggestions out there. I'm not sure this can be put into that bucket, as blogs published under the names of individuals or organizations will be generally understood as reflecting only the author's perspective. Who would have the audacity

[2021-04-28 13:55] quenbyako commented on #117
Lol, i have a great idea:

If **this** layout is not official (yet, maybe), instead of renaming, why not to work on it? 🤔 I mean, go still doesn't have best practices of directory layout (unlike rust, dart, etc. note that they have recommendations, not restrictions), why not create a _recommended only_ standard of layout (only as recommendation, like effective go, gofmt, etc.) that suits most of g

[2021-04-28 14:16] SteelPhase commented on #117
It seems that there is some confusion around suggestions about project layouts, and the resulting rigid package naming that would be involved. If you take this repo without the `golang-standards` name, and remove the `pkg` idea, a lot of these folder suggestions aren't inherently bad. Most of them are related to supporting pieces for a project that aren't specifically go code, but which may live w

[2021-04-28 14:30] rsc commented on #117
There are two problems with this GitHub repo:
1. it claims to host Go standards and does not, in the sense that these are in no way official standards
2. the project-layout standard it puts forth is far too complex and not a standard

Regarding "why not tell us the standard Go project layout and we'll update the doc?", that only addresses point 2. If there really were standards, they would be in t

[2021-04-28 14:50] deltamualpha commented on #117
I suppose we can just chat away in this issue all we like, but clearly, the owner of this organization is @kcq, who seems to be studiously ignoring the concerns that have been repeatedly expressed about the positioning of this repository to newcomers (and experienced gophers) who see it as actively harmful to the language. Unless he changes his mind, I doubt anything anyone says here (or any furth

[2021-04-28 15:02] batara666 commented on #117
This the exact project which lured me in and led me astray a while back. It has the outward appearance of being a sensible proposal for a standard, but in practice only made things hard.

[2021-04-28 15:17] Integralist commented on #117
@rsc I'm curious, if there is no response from the actual owner of this organisation (†), is the next step for Google to approach GitHub and express all the concerns this issue raises? Or would that be frowned upon (i.e. consider bad form)? At the very least this org is very misleading and from that perspective alone I feel a rename would be justified.

[2021-04-28 15:26] komuw commented on #117
I don't support the layout proposed by this repository.

However, the way to combat flat-earthers is not to hound them out of town.
Rather it is to avail science education far and wide and then hope people will come to the right conclusions on their own.

There is clearly a need for documentation on how to layout a Go project. Maybe it is from people who are coming from languages where this is man

[2021-04-28 15:52] kcq commented on #41
It's all that matters :) If you find it useful use it (at least, some parts of it) and if not then you can ignore it.

[2021-04-28 16:11] vk-rv commented on #117
This made my day because a lot of well-known people in the community finally paid attention to this repo which is obviously overrated. This may sound like a joke but I know teams of engineers which just insist on this structure without reason.

Newcomers need a mental model, not an overwhelming amount of arbitrarily-designed empty folders.

Also, [The existence of this repository is harmful for Go

[2021-04-28 16:11] thejerf commented on #117
Some others are dancing around this, but I don't have a need to personally, so I won't. @kcq, Google owns a trademark on "Go". @rsc may not even be remotely considering action in his personal capacity, but you, @kcq, would still be well-advised not to just to ignore this hoping it goes away, because _you_ have no way of knowing that. You need to treat this as something worth worrying about. I have

[2021-04-28 16:38] nomad-software commented on #117
This repo should be removed because I have seen people shoving this layout as 'standard' when of course it isn't. This is exactly the reason Go was created, to avoid this boilerplate nonsense.

[2021-04-28 16:45] nomad-software commented on #41
This repo should be taken down or at least made extremely clear this is only your opinion and not officially endorsed.

In fact, it's officially discouraged. https://github.com/golang-standards/project-layout/issues/117

[2021-04-28 17:36] nikolaydubina commented on #117
great to see @rsc chiming in here. my two cents:
- `/docs` `/pkg` `/cmd` or alike are useful for separation of application, domain, infra code and module level metadata
- `/deployment` `/test` I see this a lot too, and also makes sense to put Docker and build related files and integration and E2E tests
- `/third_party` I haven't seen anywhere expect my projects where I used submodules and followed

[2021-04-28 17:49] biorisk commented on #117
Open source is great because the threat of forking encourages lead developers to be responsive (or gives the community an out, e.g., Gogs vs Gitea).

Open trademark is NOT a thing for good reason too. Lot's of open source projects forbid the use of the name, logos, etc. because it would be confusing, just like the name of this org/repository. Can you imagine someone slapping a GPL "open-source" li

[2021-04-28 20:12] kcq commented on #113
It's pretty common for the generated binaries to end up in `<your_project_dir>/bin`. And in your `.gitignore` file you'd have a line like this (to avoid committing it to git): `/bin/`

[2021-04-28 21:14] peterbourgon commented on #117
@rsc

I think what we're witnessing here, in the broad strokes, is that _this isn't enough_.

Telling us that we don't have to follow this or that guide, and that more or less everything is permissible, isn't helpful to the Gophers who are asking these questions. They, the community, is pretty clearly expressing a need for more guidance. And have been for a long time, for the record — a substantia

[2021-04-28 21:19] xxbtwxx commented on #117
Here's a detailed guide to repository structures.
Start with a `main` package. As your project grows split it into packages that feel natural or [maybe don't and keep everything inside the main package.](https://github.com/Shopify/sarama).

[2021-04-28 21:25] theckman commented on #117
@biorisk I'd rather we not pursue the thermonuclear approach, as that could create further divisions within the community. We should work together and align on the best path forward, instead of dealing with lawyers. Seeing that happen would drastically change my opinion on things.

Also, is "Golang" trademarked? They are very clear that the name is Go, and that go.org wasn't available at launch so

[2021-04-28 23:15] m2q commented on #117
@peterbourgon absolutely hit the nail in the coffin.

The answer just isn't satisfying. Some developers don't want to "find their own way" - often out of fear of maybe creating bad habits. Giving proactive suggestions with a few examples is all it takes to satisfy these worries.

[2021-04-28 23:29] theckman commented on #117
@m2q this can be moved to another GitHub organization, or onto @kcq's user, without impact. GitHub would redirect anyone to the new location. I think that would be preferable instead of a full-blown deletion.

[2021-04-28 23:38] kcq commented on #117
Great to see @rsc starting this discussion here. Thank you! Would be nice if it was a bit more balanced, but people who are happy users are less likely to comment :-) I'd second what @peterbourgon said and add a couple of comments...

`what is described here is just very complex` <- None of the patterns are prescribed and required. It's explicitly stated (multiple times) that you should take what

[2021-04-28 23:42] SteelPhase commented on #117
@kcq As you really didn't touch on it, I don't think there's anything in your comment that provides a reason for keeping the organization name as it is.

[2021-04-28 23:49] kcq commented on #117
Thank you for your comments @SteelPhase ! You are absolutely entitled to your opinion and it's great you are sharing it. I'd say the 3rd paragraph covers it :-)

[2021-04-28 23:51] theckman commented on #117
@kcq I don't think you are clearly interpreting the direct and actionable feedback being given to you by the community here. There aren't folks who are misrepresenting it as a standard and communicating it as such, there are many folks who are misinterpreting the purpose of this repository because of the name you've chosen to give it. The only way we can solve that is by moving the repository, so

[2021-04-28 23:51] idexter commented on #117
@rsc @rakyll @peterbourgon Why it's impossible to create https://github.com/golang/standards or https://github.com/golang/golang-standards repository and propose more "official" or more appropriate "community" point of view. Some of community members have thousands followers and huge influence to do that.  Why is it so important to rename (or maybe get rid of) exactly this repository?

I read all

[2021-04-28 23:54] peterbourgon commented on #117
@kcq

If a few people occasionally misunderstand the scope and goals of this repo, it might be an issue with those people. But if many or most people consistently misunderstand this repo, it's an issue with the repo. And we've been trying to communicate to you, for a long time, that this is the case.

[2021-04-28 23:56] kcq commented on #117
The gotcha here is that it's not the community... It's a few people who pretty vocal in their dislikes.

[2021-04-28 23:57] theckman commented on #117
@kcq Would you like me to ask folks from the Slack space to dogpile on your issue so that you get an idea of the breadth of this issue? I didn't think that would be helpful.

[2021-04-29 00:04] flowchartsman commented on #117
If you do, I'd suggest linking to a single comment and asking simply for a thumbs up (I misunderstood this repo) or thumbs down (it was perfectly clear to me that this wasn't official at all), rather than exploding the thread.

[2021-04-29 00:05] theckman commented on #117
@flowchartsman Ahhhh, good thinking! I would have made a real mess of things otherwise. 😅  I appreciate you sharing that idea.

[2021-04-29 00:07] henvic commented on #117
I've been working with Go for over 6 years. During this time, repeatedly, many people with multiple background (that I know in person, from the web, or witnessed on Go chats) would suggest to me they were following Go standards, when, in fact, they were adopting some random ideas and concepts shared on this repo.

The name of this repo is no different than false advertising. Sorry, but it got to g

[2021-04-29 00:08] kcq commented on #117
It's actually a good idea to have more voices if we can move beyond, `i don't like the repo name` phase of the discussion :-) Let's talk about the project layout patterns and what alternative layout patterns work for different types of applications and for different application sizes including the applications with multiple binaries, different types of interfaces and deployment environments.

[2021-04-29 00:08] idexter commented on #117
Strictly speaking community is tens of thousands engineers. Not `100` of them nor `1000` can represent the whole community.

[2021-04-29 00:11] theckman commented on #117
@kcq that's a separate issue, and an important one. This issue is about the harm your project is doing to the larger Go community, and is unrelated to the overall desire that people have for guidance.

I'd encourage you to file an issue to track that other (unrelated) request in the Go issue tracker, to gauge the interest of an official set of guidance around structure from the Go project itself.

[2021-04-29 00:12] SteelPhase commented on #117
@kcq why bother with the effort to add a disclaimer to a README when it could be resolved by not calling it "golang-standards" in the first place?

[2021-04-29 00:40] kcq commented on #117
@SteelPhase This is pretty simple... You are talking about your personal preferences in terms of how to communicate something and you are wondering why somebody else has a difference preference. It's ok to have differences in preferences.

[2021-04-29 00:48] Xe commented on #117
@kcq Hi, I am a Go programmer that has largely changed over a lot of their personal projects to Rust, but I feel that I have some feedback as to why this seems to be confusing. Full disclaimer, I have made my own thoughts on repo layout on my blog, but I do not feel it useful to link it here as to avoid cluttering this thread too much.

<img width="731" alt="Screen Shot 2021-04-28 at 20 37 57" src

[2021-04-29 00:50] theckman commented on #117
@kcq I don't think we're talking about personal preferences here. Whether or not I think what this repository recommends is a good idea is absolutely a personal preference. Whether or not a GItHub repo is the best medium to share this information is also a personal preference.

People new to Go and the community, in fairly large numbers, are interpreting your repo to be an official standard becaus

[2021-04-29 01:04] x-private-one commented on #117
@Xe Thank you for your pretty big and well thought out comment! You do make good points, but I think the sample data set doesn't really reflect the full picture.

Line 2 of the search result says that it's not an official standard, so you don't even need to read the full description. If the first line all we can read then there's no hope for humanity :-)

P.S.
Please do include your blog post! It'

[2021-04-29 01:05] kcq commented on #117
@Xe Thank you for your pretty big and well thought out comment! You do make good points, but I think the sample data set doesn't really reflect the full picture.

Line 2 of the search result says that it's not an official standard, so you don't even need to read the full description. If the first line all we can read then there's no hope for humanity :-)

P.S.
Please do include your blog post! It'

[2021-04-29 01:06] DamareYoh commented on #117
@kcq I realize you're trying to pretend this isn't really about you protecting your absolutely amazing SEO on this repo, but this is a bad take:

This is no different than saying that the elderly people who get tricked by fake Microsoft tech support are at fault for falling for the scam.

You had a better position when you were ignoring the thread and not doubling down.

[2021-04-29 01:07] Xe commented on #117
I hate to be blunt, but please re-read the bolded portion of my response.

I do not want this comment to become advertisement. I can email you a link to it if you would be okay with that.

[2021-04-29 01:10] SteelPhase commented on #117
Your statement does not appear in all google searches.

![image](https://user-images.githubusercontent.com/2711058/116490720-09d4be80-a866-11eb-893d-6061a612525e.png)

[2021-04-29 01:19] kcq commented on #117
Thank you for the follow up @Xe ! It's an interesting analogy, but it's flawed because this repo is not a piece of software that you just use and where you click through a EULA you don't read. If you actually use the repo you'll see the first paragraph in the readme file.

[2021-04-29 01:24] Xe commented on #117
I feel that there is some kind of disconnect preventing my point from getting across. My intention there was more of "that is a disclaimer, people skip over disclaimers" and used EULAs as an _example_ for the kind of thing people skip over. Your disclaimer is NOT a EULA, however it seems that based on observable evidence is getting skipped over as if it was one.

This is why people are saying you

[2021-04-29 01:43] quenbyako commented on #117
The person who made this repository (@kcq, btw) most likely looked at a lot of golang projects and thought "hmm, usually gophers put assets in the `/assets` directory, and the main package is usually stored in the `/cmd`, so I'll create a repository as sort of template that stores an **EXAMPLE** project structure". **This is all th appointment of the repository!** (@kcq correct me, please, if i am

[2021-04-29 01:49] theckman commented on #117
@quenbyako I don't believe the request has been to delete the repo. So far, it's been requested that things be renamed in a way that make clear to everyone that it's not trying to assert itself as a standard.

[2021-04-29 01:54] naikrovek commented on #117
at some point, you must make decisions for your own code.  beware anyone that tells you how to do something they've never done.

do what's right for your own code, if there is even a right or wrong way to organize your code.

the amount of time that people spend discussing things that do not matter is absolutely staggering, to me.

[2021-04-29 01:54] quenbyako commented on #117
@theckman if so, let's create same issue to [github.com/lib/pq](https://github.com/lib/pq), or naaah, there is the better project: [github.com/pkg/errors](https://github.com/pkg/errors). I heard **a lot of comments** that pkg/errors is **official github package** and everyone must use it instead stdlib errors (not kidding).

[2021-04-29 01:58] itsjamie commented on #117
As an alternative style, I present https://christine.website/blog/within-go-repo-layout-2020-09-07

This aligns with my understanding of the few pieces that I did see as "normal" setups for Go repositories out of the gate. It recommends and makes use of the `internal` enforced folder. It also showcases how to set up a multi-binary repository, with easy naming of the output binaries. It also provid

[2021-04-29 02:01] deltamualpha commented on #117
It's disingenuous to say that this repo isn't positioned as a one-size-fits-all model when people are building things like #111, trying to make commands that automatically populate new projects with this repo's folder structure (à la `rails new` or `yeoman`).

The point of this issue isn't _what the "standard" should be_, it's that _this org's name is actively misleading for beginning go developer

[2021-04-29 03:53] quenbyako opened #119 "#117 must be closed and locked"
I think I will take responsibility for this issue and propose to close #117, as it became as unhealthy cancelling and persecution of people who disagree with the author.

In order not to be unfounded, I will try to express as neutral as possible all the pros and cons of this decision:

pros:
* this repository mimics to golang officially standards, however golang has not any standards for the archi

[2021-04-29 05:43] komuw commented on #117
It also feels like we are also doing the same thing to the owner of this repository that we are also accusing him of: victim blaming.
Their repo didn't become the number result on google just because they titled it `Golang standards layout`, just like my blog wouldn't become the number one blog post on google if I titled it `the standard way to climb Mt. Everest`.

This repo has climbed upto the t

[2021-04-29 06:00] yordis commented on #117
As somebody that started coding in Go the last two week,

I read so much hatred, complaining, point fingers in this thread against a person that took ownership of trying to obviously improve the community, that it is quite disappointing and disgusting.

Your "it depends", and "I think X", or "my opinion Y" solves no problem, suggest no solutions, and rarely have any value compared to what the pers

[2021-04-29 06:41] batara666 commented on #117
As somebody that started coding in Go for a  month

I find this kind of structure is annoying when come to not-so-big-project (or even big?)

We can always go with Flat Structure, but my coworker choose this layout, It's really pain in the *ss maintaining a project with this layout tho

[2021-04-29 07:02] idexter commented on #117
@theckman That statement is absolutely personal opinion. To make it indisputable fact you should provide specific numbers (not abstract one) with evidence.

Here is some indisputable facts (All those facts is easy to check):

- @theckman is Netflix employee
- @rakyll is Amazon employee
- @rsc is Google employee
- @eliben is Google employee
- @peterbourgon is a member of https://github.com/golang

[2021-04-29 07:12] quenbyako commented on #117
@idexter i agree, so maybe these facts need to be shared with **wide** go community

[2021-04-29 07:16] batara666 commented on #117
I'm speechless

@rsc and the guys should create internal vote about action that may harm/misuse Go Language trademark

[2021-04-29 07:19] batara666 commented on #119
what kind of this victim-blaming nonsense

[2021-04-29 07:37] theckman commented on #117
@idexter I don't involve myself in the Go community on behalf of Netflix. It's on my personal time. I'd prefer if you didn't involve my employer on my own personal opinions. 😄

[2021-04-29 07:46] idexter commented on #117
@theckman Could you please show where exactly did I say you involve yourself in Go community on behalf of Netflix?
Looks like It's you personal interpretation. I just shown some facts and some personal opinions to show the differences between them. I'm sorry but it looks like you thought up and interpreted my words in your own way.

[2021-04-29 07:49] quenbyako commented on #117
@batara666 did you just fastcoded thumbs down spam bot? Seriously, and you talking about community and its harm?

[2021-04-29 07:50] xxbtwxx commented on #119
You couldn't misinterpet my words in a worse way, eh?

There's no idiomatic way for structuring your go repository, and that's a good thing.
As I said, start with a `main` package and let it grow in a natural way.

I'll refer to  one of the Go Proverbs by Rob Pike [Design the architecture, name the components, document the details.](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=1089s)

I would say

[2021-04-29 07:50] batara666 commented on #117
@idexter what?, why this getting personal? and who are you comparing people's contribution??

[2021-04-29 07:54] yordis commented on #117
🍿

[2021-04-29 07:57] quenbyako commented on #119
@xxbtwxx you misunderstood the purpose, why this issue should be locked: one of the biggest problems of this holywar is unbelievable level of toxicity and abuse of go rockstars audience. The main reason to lock the discussion is that toxic judges like @batara666 who came here and fucking up all constructive discussion and arguments of both parties.

[2021-04-29 08:00] quenbyako commented on #117
@batara666 uh-huh, good idea to blame "Go Community" instead real gophers, that's a good point, agree with you

[2021-04-29 08:08] DustinHigginbotham commented on #117
So is there a reason why the org's name cannot be changed? Because this issue has become more of an argument and it would be nice to see it get resolved rather than dismissed due to the childish behavior.

[2021-04-29 08:19] idexter commented on #117
@batara666 My point is:

We all the community. @kcq also part of the community. I'm also part of the community and every person who disagree that this repo should be renamed also part of the community. And yes, every person who want to rename this repo also part of the community.

If you don't like some name, make your own repository and make it 1st in Google Search (Pretty simple, no?). We are in

[2021-04-29 09:24] as commented on #117
I've been undoing the cruft caused by this `golang-standards/project-layout` repository for years now. This isn't the origin of `github.com/user/repo/pkg` because it predates some of the earlier blog posts I've located while trying to track down its root cause, but it seems to have proliferated the practice significantly, especially for new users in the last five years.

I've actually considered c

[2021-04-29 09:31] mvdan commented on #117
I've been quietly following this thread, and I agree with Russ that this repository as presented causes confusion, good intentions aside. And I do believe this project was created with the intent to help newcomers, even though I disagree with most of its advice.

The owner of the organisation has been quiet so far, so I'd encourage the rest of us to simply wait for them to reply for now. More disc

[2021-04-29 09:38] sagikazarmark commented on #117
I think the discussion went off the rails a bit. It looks like three different topics are being discussed right now:

1. `golang-standards` as a name creating a false sense of affiliation with Go itself and doing harm in the community
2. the need for some guidance on Go application project layout
3. some debate about the people raising concern about the name

As far as I can tell, noone is questio

[2021-04-29 09:50] yordis commented on #117
Any resolution yet, 🍿
![3x](https://user-images.githubusercontent.com/4237280/116532871-9b0f5980-a895-11eb-9a63-94dd1d243b44.gif)

[2021-04-29 10:12] insidieux commented on #117
If your watch #111 with comment and watch original repo with documentation, you'll see some information)

I've taken this "layout" like "base", cause it just useful for small, tiny projects. And provide possibility for everyone to redefine structure and files like they want, just write plugin.

And last: this project was written with first aim for personal purposes - to bootstrap new projects fast

[2021-04-29 10:44] neetle commented on #117
The issue is that it's kinda redundant. With the guarantees provided by SIV, semantic versioning and `go.mod` _every_ package is fair game to be consumed by an external client. Hiding the "external" API under some extra folder doesn't make sense as that's not really how Go works. If you want to limit the surface area of your externally available API, there are already tools for that (`internal` /

[2021-04-29 11:52] therealplato commented on #117
Starting a project using the structure recommended by this repo is harmful because the maintainers can not look at the package and guess the _behavior_. Also it's more to type, yes it's only 3-5 seconds added to type `pkg/` everywhere but you need to multiply that by dozens or hundreds of maintainers, thousands of commits, and multiple years. As someone asked for an alternative, here's how I recom

[2021-04-29 12:37] ernado commented on #117
Regarding the `pkg`:

The situation is even worse, because lots of projects actually don't follow the `pkg` convention and just using this directory as easy way to avoid placing all packages in root. I've folloved some examples and was terrified by two things (1) people are giving incorrect examples without actually reading the code / fact-checking and (2) people are using `pkg` just for decoratio

[2021-04-29 13:58] thejerf commented on #117
Speaking for myself, my sole and singular concern is the appropriation of the term "golang-standards". It is a socially-hostile move to claim such a term while at the same time visibly not having that level of support for it from the community. It is basically claiming a leadership position unilaterally. Anyone can claim whatever they like about how Go packages can be organized, I don't care, what

[2021-04-29 14:03] deltamualpha commented on #117
If this repo were named `https://github.com/kcq/project-layout` with _no further changes_ I think many fewer people would care about its existence at all, because it would be so much clearer that it's an individual and not "the go standards body". It's purely the organization name that people find so problematic.

[2021-04-29 16:00] idexter commented on #117
I'm interested. 🤔 If @kcq move that repository, but will not remove or transfer the rights to `golang-standards` organization to other hands. Will it be a solution for community members who don't like this repository?

What do you think? @rsc @theckman @peterbourgon

[2021-04-29 16:35] kcq commented on #108
PR merged... closing

[2021-04-29 16:35] #108 closed

[2021-04-29 16:38] kcq commented on #104
@siansiansu happy to merge your PR when you are ready :)

[2021-04-29 17:13] DamareYoh commented on #117
@idexter  Most of these people already posted what they thought on the idea of moving the repo to a new org. Did you not understand the argument?

https://github.com/golang-standards/project-layout/issues/117#issuecomment-825908097

[2021-04-29 18:04] idexter commented on #117
@DamareYoh There was different opinions below even opinions that repo and/or org should be deleted. I saw that one proposal you pointed to.

I would personally prefer to leave this repo and this org as-is and create alternative repository like https://github.com/golang/standards for "official" Go team position. At the same time most likely it won't happen so despite the fact I don't agree, I'm try

[2021-04-29 18:28] flowchartsman commented on #119
While I agree that the discussion in the other issue has gone past the point of usefulness, I think this issue is even less helpful. It comes off as snide and mocking, neither of which are very professional, both of which tend only to upset people and make things worse. I won't presume that that's your goal, but that is definitely how it reads. I understand the impulse to lash out at something you

[2021-04-29 18:35] kcq commented on #94
@gbaranski  Do you mind sharing a bit more about your build setup?

It sounds like your app subdirectories under `/cmd` each have their own Dockerfile and you try building each app by going to their subdirectory (e.g., `/cmd/your_app_one`) and running `docker build -t your_app_image_name .`.

One option is to run each `docker build` command from the project root (or you can set the context directo

[2021-04-29 18:36] kcq commented on #87
PR merged... closing

[2021-04-29 18:36] #87 closed

[2021-04-29 18:36] DamareYoh commented on #117
I'm pointing out that you are not reading the thread carefully enough and are behind the discussion. It's not really helping.

Here's a direct quote from the OP that captures a how the "golang-standards" name is a major component of the issue.

And then here, again:

There may be noise elsewhere, but that you seem to have suddenly aligned with the a major component of original premise of the issue

[2021-04-29 19:16] idexter commented on #117
I hope you read the thread carefully and tried to understand repo owner position too:

I agree with this position. I don't think that issue is:

**I personally think this is intentional misrepresent**. I don't know the reason, WHY as I said before, but I don't believe that intensions is focused just to help newbies in the community. Those people who called this an issue have enough resources, powe

[2021-04-29 19:22] DamareYoh commented on #117
I understand the repo owner's position. Here's my comment on that direct quote already, which I would also like to point out that you again seemed to not have read.

https://github.com/golang-standards/project-layout/issues/117#issuecomment-828878220

Another consistent point being made in this thread is that the combination of the name of the org, and the content in the repo is not only _not_ hel

[2021-04-29 19:26] theckman commented on #117
@idexter you have the same capability as everyone else in this thread to write a proposal and submit it on the Go issue tracker, including those on the Go team. Compared to everyone else in this issue, you also seem to have substantially more passion and interest in that being created. Considering that, it seems like you are the best person to champion this effort and draft the proposal for submis

[2021-04-29 19:33] yordis commented on #117
So, if I understood correctly; we move the repo from one organization scope to another one (personal organization scope one in this case), and then you are trying to transfer organization scope ... right

Are we just switching dictators? Do you see the irony or are you gonna attack me  👎🏻 just because of egos?

[2021-04-29 19:59] yordis commented on #117
What makes "the community it" is not "this repo," or "that group," or "these massive groups either" ... what makes "the community" is every single one of you out there writing Go, participating in debates, writing docs, helping to manage events, and so on.

So you transfer from "golang-standards" to his personal account and giving up to "golang-standards" to a random group of people just because a

[2021-04-29 20:04] DamareYoh commented on #117
You wrote a lot of words based on a misunderstanding the request is to have him hand over the `golang-standards` org.

[2021-04-29 20:33] idexter commented on #117
@theckman Done: https://github.com/golang/go/issues/45861

[2021-04-29 21:44] gbaranski commented on #94
Hi, thanks for reply, that's how the project look like: https://github.com/gbaranski/houseflow/. Yes I'm using multi staged builds, the problem is that even if every app under cmd folder have the same build process, Dockerfile must be separated because it's context has to be on project root, so it is required to change directory to this cmd/app_name, however maybe it's possible to do using Dockerf

[2021-04-29 23:40] deltamualpha commented on #97
You should treat “./relativeFilePath” as a dependency for “mypackage”, either as a parameter passed to “MyOpen()”, or refactor MyOpen to be a method on a struct that has the path set as a field in the struct (with a useful default if unset). The behavior of MyOpen should be testable this way no matter how the package is used.

[2021-04-30 01:28] flowchartsman commented on #94
If your problem is that your `/cmd` files depend on things in the project root, you can create a root image which has all of the files in it and build your cmd in a second-stage image built from that.  If your problem is that you have to download modules or compile each time, consider using named [Buildkit cache mounts](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.m

[2021-04-30 11:48] avelino commented on #117
@rst I understand your point of view, but my question would be:
Is your view not biased with your professional experience and the teams you have been through?

Many engineers come to Go language and don't have advanced knowledge in software architecture, for these people a reference "project" will help, I'm not saying that the proposal of this repository is good or bad but that having an architect

[2021-04-30 11:53] avelino commented on #119
I made a long comment in issue https://github.com/golang-standards/project-layout/issues/117#issuecomment-830039460 sharing my point of view, I hope I made myself understood - I hope it helps.

@quenbyako thanks for mentioning me in the issue, as I commented in the other issue I am available to help the project.

[2021-04-30 14:24] lggomez commented on #117
Just gonna throw my 2 cents here, since this issue and some of the parts' positions explicitly talk about not being a majority perception issue and demand some kind of consensus before acting on this.

I've been developing in go since 2018, and while the language is way older I've seen many of the main features like the supporting tooling undergo repo creations and changes related to organization.

[2021-04-30 15:42] DamareYoh commented on #117
@nicerobot What makes you think people want your take after you deliberately don't read the thread?

[2021-04-30 15:50] meblum commented on #117
The claim here seems to be that

1. Newbies find this repo through google search and think it's official.
2. They go through the readme for advice on how to structure their repo, and get misleading advice on project structure.

What I don't understand is, if someone reads the README, they also see the disclaimers right at the beginning that it's not official and not a one-size-fits-all. If they do

[2021-04-30 15:58] ivarec commented on #117
@nicerobot respectfully disagree. The beginners that should be using a few .go files for their starter projects are the ones being harmed by the overhead imposed by the "standard". Projects with higher ambitions will have their own structure regardless.

[2021-04-30 16:09] DamareYoh commented on #117
@meblum, @nicerobot

There is a disclaimer there already, and that you haven't noticed this is exactly the point. People (particularly new folks) come to this repo thinking this is the official recommendation for how repositories should be because the org name is "golang-standards" and then they don't read the README because why should they? They are immediately presented with what they were looki

[2021-04-30 16:25] covrom commented on #117
I've been waiting for this discussion for a long time. It seems to me that this repository is the tricks of Russian hackers or a diversion from Java developers  ^))))

[2021-04-30 16:26] covrom commented on #117
I've been waiting for this discussion for a long time. It seems to me that this repository is the tricks of Russian hackers or a diversion from Java developers ^))))

[2021-04-30 16:27] bconway commented on #117
If the repo included a README.md justifying each design choice with examples, I think it would really cut down on the sniping, here and elsewhere. For example, the apparently-maligned `pkg/` pattern could have a README.md that shows dozens of repos using this pattern, like [Google, Kubernetes, etc](https://github.com/golang-standards/project-layout/tree/master/pkg#pkg), such that we'd know why it

[2021-04-30 16:44] kcq commented on #94
@gbaranski Sweet project! When do you feel it's going to be ready for use :-) Thanks for sharing... I'll try a few things to see how far I can get, so there's something specific we can reference in the discussion.

[2021-04-30 16:47] therealplato commented on #117
- John Gall, _Systemantic: How Systems Really Work and Especially How They Fail_ 1975

[2021-04-30 16:54] DamareYoh commented on #117
@nicerobot

**Have you read the actual readme?** It already contains the disclaimer you're asking for and it is obviously not working.  The PR you linked is just updating a translation

[2021-04-30 16:54] coip commented on #117
im a fan of your template example and think, as-it-is (#aa3ea0f), others might agree it's aligned with the spirit herein :-)

`rm .gitignore` might provide even higher signal:noise, but not terribly picky.

https://github.com/golang-standards/project-template

[2021-04-30 16:58] DamareYoh commented on #117
Why should I reiterate solutions to you when you could read the recommendations already presented in the thread?

[2021-04-30 18:00] 3ter commented on #97
If I understand you correctly all relative paths should only be situated in the `main` package. This way they are always resolved correctly as the module root defined by the placement of `go.mod` is used as the reference for both testing and running.

This also makes sense as those file paths can be seen as dependencies to `main` or (sub)dependencies to other packages like `mypackage` in this exam

[2021-04-30 18:12] TwinProduction commented on #117
I'm glad that somebody's pointing out the fact that while this project has garnered a decent amount of stars, it isn't necessarily representative of the vast majority of Go projects.

Beyond agreeing with @rsc's statement on the usage of `golang-standards` being a bit high handed regardless of whether the repository's README explicitly mentions it being unofficial, I do agree that some extra effor

[2021-04-30 18:12] gbaranski commented on #94
That's great idea. thanks.

I think the thing that I can also do is making common Dockerfile which will have context on the cmd/name/ and it will copy files from ../../ and build.

Thanks, I'm currently implementing my own protocol for communication between devices and server, that might take quite long time because I'll need to implement that in C because that's only one officially supported lang

[2021-04-30 18:12] #94 closed

[2021-04-30 18:16] TwinProduction commented on #117
I'm glad that somebody's pointing out the fact that while this project has garnered a decent amount of stars, it isn't necessarily representative of the vast majority of Go projects.

Beyond agreeing with @rsc's statement on the usage of golang-standards being a bit high handed regardless of whether the repository's README explicitly mentions it being unofficial, I do agree that some extra effort

[2021-04-30 20:44] francoposa commented on #117
I have found this pattern incredibly straightforward and easy to adapt to Go: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/ddd-oriented-microservice

[2021-04-30 21:55] sirkon commented on #117
This layout only makes sense in one kind of cases:

1) There's one or more executable packages in a project
2) There're directories what are not Go packages: rpm folder, static data, etc.
3) The project provides public API

In this case it is useful indeed. But things gets ugly very quickly: it is a big question if the layout is useful when just one point  out of these 3 is out:

* Not command lin

[2021-05-01 07:25] mantzas commented on #117
The lack of any other standard makes it the only known solution and given the fact that it also has over 23K stars means most probably that there is a huge need for it. I would suggest that this could be a nice opportunity for the Go team to take a look at it? /cc @rsc

[2021-05-01 16:55] m2q commented on #117
@theckman this remark really irks me. How is a developer supposed to know that *this* big project is not a good reference? People say the same about docker.

I think the fact that Go doesn't have an official reference is orders of magnitudes worse damage than whatever this repository does.

Any developer worth their salt reads through disclaimers like this. Anything else suggests they are copy-pas

[2021-05-01 17:10] theckman commented on #117
@m2q how is any developer supposed to know whether any arbitrary block of code they look at is well written or not? They don't. The same applies with project structure. Much of these aspect of things are more art than science, and I'd rather not put process around creativity.

I am not aligned with your assessment of the damage being done by a lack of guidance. Can you show me some concrete eviden

[2021-05-01 17:20] DamareYoh commented on #117
@mantzas

@m2q

Did you both miss that someone has posted a proposal over on the go github already?

![image](https://user-images.githubusercontent.com/34608378/116789951-a665af00-aa66-11eb-865b-ca8d65f41065.png)

[2021-05-01 18:06] m2q commented on #117
@theckman Without guidance, learning is slower & less efficient. More trial and error, more time spent experimenting on dead-end approaches. Less exposure to well-crafted ideas. How are you supposed to know that there's a better way? Unless you speak to other developers, get feedback and outside opinions, you won't. Of course since developing is a very social activity, you're bound to be exposed t

[2021-05-01 18:46] theckman commented on #117
@m2q multiple folks in this thread have experienced exactly what you are describing, and in their cases it was because someone thought this was a standard (the true way) and either argued about it, or implemented an inferior project structure that had to be refactored. These are actual user stories talking about real impact this had.

Learning well isn't always done fast. Becoming even just profic

[2021-05-01 18:53] theckman commented on #117
@m2q Oops, forgot this: because changing folder structure is a breaking API change, it's not harmless.

[2021-05-01 21:27] m2q commented on #117
@theckman
You're correct that learning is done slowly. Also correct that teaching someone the way you described is not ideal.

But the issue here is that a huge chunk of beginners are taking the repo at face value, and aren't critically reading the disclaimers. There's no dogma contained here. The second I read that this is not official, I took everything with a grain of salt. The author also ment

[2021-05-02 11:33] peterbourgon commented on #117
@m2q

In fact you probably shouldn't look to _any_ of the "flagship" large projects for inspiration. As projects grow they develop their own gravity, and once a project gets to the "household name" size it's likely to have created its own bespoke conventions, idioms, structures, processes, etc. that overrule those of the implementing language.

You're not going to extract useful information by stu

[2021-05-03 03:40] goodforever commented on #117
@flowchartsman Thanks for your https://eli.thegreenplace.net/2019/simple-go-project-layout-with-modules/ and example ,
very good !

[2021-05-03 03:56] lesismal commented on #117
golang is not java. please keep go simple and don't mislead people in the go community with java thinking.

compared with scripting languages, golang is largely a system-level language. golang developers should have project planning capabilities and should plan project structures based on different project scales and business types instead of using unified templates.

don’t agree with @avelino. ne

[2021-05-03 08:53] ramonmacias commented on #117
I will say also, that it depends on the arch you are trying to apply to your project. Each arch will affect for sure the package and hierarchy of your packages and files. Some of the most populars archs rely on OOP languages, and I saw many times to try to fit some particular Java implementation into Go doing a kind of copy&paste structure.

[2021-05-03 12:56] deltamualpha commented on #117
Again, people are getting caught in the weeds of if there’s a standard and what it should be, but this issue is about the fact that the name of this organization, as “golang-standards”, is misleading about the authority of this repository. That’s all. It’s easy to bikeshed about what the proper way to structure a project is! But this is not the place to do that.

@kcq if you’re not going to change

[2021-05-08 23:05] quenbyako commented on #119
@souryogurt you didn't get the idea...

<details>
  <summary></summary>

  <img src="https://user-images.githubusercontent.com/13191308/117555790-db779000-b06a-11eb-9868-fade85927024.png"/>
</details>

[2021-05-08 23:33] souryogurt commented on #119
@quenbyako you should be more clear then. Otherwise, you spliting the discussion into one more issue instead of finding true and going to some conclusion in #117 .

[2021-05-10 02:41] Prajwal-Koirala commented on #117
@rsc
The reason why everyone is here is that we are looking for guidance on how to structure Golang apps, the easiest way to fix this issue is to publish official guidance on how to structure Golang apps.
- Prajwal

[2021-05-10 03:02] theckman commented on #117
@Prajwal-Koirala but what if that's the wrong solution or path? To provide a quote most often attributed to Henry Ford regarding the rise of the automobile, "If I had asked people what they wanted, they would have said faster horses."

People are asking for rules to follow, because they are uncomfortable being uncertain with how to structure their projects. Similar to religion being humanity's exp

[2021-05-10 03:58] meblum commented on #117
Totally agree with @theckman but I do think we need at least a wiki page explaining the obvious basics like

-  How and when to vendor
-  what the cmd directory is all about
-  Internal packages
-  Test files and testdata
-  about the pkg directory

Having this information in one place will be very beneficial for beginners.

[2021-05-10 04:55] davecheney commented on #117
Don’t, unless your ci tooling forces you to

It’s for commands, small main packages that parse flags, configure the main dependencies of the command, and call into the business logic.

if you have split your project into multiple packages, place packages here which you do not wish to be part of the public API surface.

Unit Tests are written in the same package as the code under test. Test fixture

[2021-05-10 05:10] mantzas commented on #117
@davecheney

About vendor:
Vendor, yes and added to git. The reason is that you will always we able to see a change in the source code you are adding to you project. We should treat dependencies exactly the same way as our code.
Another point is that when we run CI/CD we do not rely on the internet to fetch the dependencies.

Test files:
Unit tests should be placed in the same folder as the source

[2021-05-10 06:07] sirkon commented on #117
@mantzas a lot of what you have been said is a specific of your projects. It is quite strange you think others should guide you through your specifics.

[2021-05-10 06:35] mantzas commented on #117
@sirkon thats why I am leaning towards a very small guidance.

[2021-05-10 21:01] theckman commented on #117
@peterbourgon I am personally not aligned with your perspective on `pkg/` providing unambiguous value. Just because someone doesn't agree with you doesn't mean they are dismissive.

[2021-05-19 13:01] AnkoGo opened #123 "plz clear "standards",lt is not standards.so “Funny”!"
plz clear "standards",lt is not standards.so “Funny”!
plz clear "standards",lt is not standards.so “Funny”!
plz clear "standards",lt is not standards.so “Funny”!

[2021-05-23 22:23] markszente commented on #117
I think it ultimately comes down to whether "a bad rule is better than no rule at all". As far as I see, Go projects are meant to be _simple_. That's why there is no official project layout. Follow common sense, code styling guidelines, and your should be fine! However, people -- especially who are not yet sure of their own skills -- usually look for authoritative sources. If they can't find offic

[2021-05-23 22:43] Prajwal-Koirala commented on #117
+1

[2021-05-25 08:36] as commented on #117
Based on the number of people that found the code more clear, easy to read and understand, I would say that the relentless deletion of `pkg` and `internal` serve as a net benefit to 100% of repositories where they are encountered. Considering that in most cases, the people that rush to use `internal` come from OOP languages where they believe Go's variable scope is per-object and not per-package,

[2021-05-28 10:18] skaldesh commented on #117
@as Nice to meet you, now you have met one person that has made an informed decision about this and found `pkg` and `internal` useful as they communicate a clear intent towards our developers what to use from a package in other repos, for example, and what not. We have a lot of other files in our projects that are not source code, like pcb files, devops stuff, docs, systemdfiles, dockerfiles, etc.

[2021-05-28 17:42] theckman commented on #117
@skaldesh Who is we? Because it seems like a majority don't endorse it.

[2021-05-29 07:21] thesobercoder opened #126 "Where do you keep certificate files?"
It's not clear where the `*.crt` files go. Please help.

[2021-05-30 07:06] shivamarora1 commented on #126
*.crt files can be used by different projects i.e. Suppose you have SSL certificates which make your website secure(HTTPS), So these certificates are accessible by different projects hosted into your server. Best thing would be to place these certificate inside /etc/ssl/{{certificate-name}} then inside ".config" file placed into "/config" folder make a new key "sslCerts":{{PATH_OF_CERTIFICATES}} s

[2021-05-30 10:27] thesobercoder commented on #126
@shivamarora1 What I was asking was in the project layout where do I keep them?

[2021-05-30 10:42] thesobercoder commented on #117
Absolutely love these recommendations. Those who have managed large teams of developers would immediately see the value of having conventions as you simply will never have the time to go and explain arbitrary project layouts to a large number of developers. Instead, you ask them to come to this repo and have additional internal documentation so that a developer can just read them and get started o

[2021-05-30 10:46] thesobercoder opened #127 "Should I have subdirectories underneath the Deployements for helm chart"
It would be nice to also add an example of how helm charts are organized under the Deployments directory. Should it be kept directly inside the Deployments root or should there be subdirectories?

[2021-05-30 13:57] shivamarora1 commented on #126
@thesobercoder You can create **/certs** directory on root of your project and place all ***.certs** file inside that, but just make sure include **/certs** directory in .gitignore file

[2021-05-30 19:34] lggomez commented on #117
@thesobercoder The underlying issue is greater than that. First, it is not about blindly following guidelines and secondly it is about having a canonical source of truth of said guidelines (as fmt defines the official formatting guidelines, take it or leave it but that's how it is defined by the language team). The later constitutes this main issue as the name of this organization is misleading as

[2021-06-01 14:57] thesobercoder commented on #117
@lggomez Got it. The org name, you mean, is misleading. No wonder, I got 6 thumbs down. 😁

[2021-06-02 15:39] bitfield commented on #117
We should keep commenting on this issue until the repo owner is _forced_ into doing something about it. You see, each comment exerts a tiny, but real, psychological pressure. As the comments keep coming, they eventually build up to a critical mass where the repo owner will find themselves renaming their GitHub organisation without even meaning to, and their mind is now entirely under our control.

[2021-06-02 16:01] theckman commented on #117
I'm pretty certain the author has muted the thread for themselves at this point. I get the sense we are commenting into the void.

[2021-06-02 16:03] thesobercoder commented on #127
I think I figured it out. Closing this.

[2021-06-02 16:03] #127 closed

[2021-06-02 16:03] #126 closed

[2021-06-02 18:51] lggomez commented on #117
@theckman that and also the hard to omit fact that the author is also the sole owner of and or called [microservice-standards](https://github.com/microservice-standards)

With every passing day I find it harder to believe that there is not some intent of name squatting hidden behind these endeavors

[2021-06-02 20:03] theckman commented on #117
Well that has me convinced, lol.

[2021-06-03 01:30] as commented on #117
If the repository layout needs `pkg` to be organized, it probably isn't organized because `pkg` is just a way to shove that mess into one box without thinking about a useful structure and making the layout understandable. Pkg is a sloppy attempt at organizing code.

Compare this to the directory structure you use::

https://github.com/upspin/upspin

Why does a microservice need to use internal? In

[2021-06-03 02:16] henvic commented on #117
The intent of internal is not to organize code for your own sake in the sense that you know where they are, but to serve as a pretty useful boundary disallowing others to import your dependencies directly.

I use this even on microservice even on private settings not only because it sets expectations, but because you can rest assured that no one else on your team will ever make the mistake of impo

[2021-06-03 08:35] as commented on #117
The proper solution for this is a dependency manager, not having a `foo` and `internal/foo` package where maintainers have to grep both locations for `foo.Bar`. The more I partake in this discussion the more convinced I am that internal was a mistake.

[2021-06-03 08:49] davecheney commented on #117
That is precisely the point of `internal`, it provides the maintainer with a mechanism to say _this set of packages is part of the project's public API, that set is not_. Licence permitting anyone is free to copy, fork, or what have you, but that's not the maintainers concern. As someone once quipped, _if you break it, you can keep both halves_.

[2021-06-03 09:23] as commented on #117
@davecheney that makes sense when the repository has external consumers, what I am saying is people read [this](https://github.com/golang-standards/project-layout/tree/master/internal) when building monolithic services with zero consumers and think its the _standard_ way to build a Go service.

I've had plenty of conversations that Go like this

Q: Why do we have a `pkg` and `internal/pkg` folder?

[2021-06-03 09:38] skaldesh commented on #117
From the README:

Highlights added by me.
I still fail to see the big problem with the project layout itself. The README is sprinkled with hints that stuff is optional or subject to the real project you are working on.
A point that I can understand and support, is the naming of the organization `golang-standards`. I support renaming it to `golang-examples`.

A: I don't know, I thought it was the G

[2021-06-03 09:52] davecheney commented on #117
On this point I believe we're in violent agreement.

[2021-06-03 09:55] as commented on #117
Yes.

[2021-06-04 08:02] bitfield commented on #117
But at least we're all here in the void together.

Boy, it's roomy, ain't it?

[2021-06-18 04:23] dote-tomo-mic opened #129 "What "hacker license" means ?"
I could not understand "hacker license" in License.md and I could not find the license's body.
Please describe more details of the license.

[2021-07-26 05:10] misitebao opened #130 "Multi-language support"
Regarding multi-language related PR can be linked to this issue.

[2021-07-26 14:34] aniket-patel-e1 commented on #117
Where should we put the code for external API calls to fetch data? it does not mention anything about it

[2021-07-28 12:46] clausecker commented on #117
@aniket-patel-e1  Wherever you like and wherever it makes sense for your project.  There are no requirements or standards in this regard.

[2021-07-28 13:03] sirkon commented on #117
@aniket-patel-e1 this is nowhere near "basic" requirement.

[2021-07-28 13:15] sirkon commented on #117
@as removing internal just because it is a microservice is seriously questionable thing. I mean, prepare for occasional imports of project's packages just because it is possible, whatever kind of nano-micro-mini-etc service a project is. `internal` is useful just because it explicitly prohibits these kind issues.

[2021-08-05 08:12] AndrewCathcart commented on #117
@kcq

[2021-08-20 07:50] sb-child commented on #129
it maybe means "replace it to something what do you like", because it just a template

[2021-08-23 16:08] theckman commented on #117
@AndrewCathcart if the past is any indication of the future, as someone who filed issues a long time ago on this repo, the legitimate concerns / feedback we're delivering will be dismissed or ignored and nothing will change.

We in the community that help newbies learn the language will continue to be impacted by the support burden directly caused by this repo, as we'll need to continue to provide

[2021-08-24 08:36] bitfield commented on #117
Keep the impotent fury coming.

[2021-09-08 10:48] c-mcallister opened #135 "missing v2 folder"
For repositories that provide libraries that are imported into other projects, if it needs to support multiple major versions at the same time (which is common) then the idiomatic go approach is to create a `v2` folder to put it in (with its own go.mod and go.sum)

This should be referenced somewhere - possibly in the `/pkg` folder? or possibly by adding a `/v2` folder to the root - as both are va

[2021-09-09 14:46] hollowaykeanho commented on #117
+1 on renaming the group into something like "golang-ideas" and move away from "standards" keyword since it's misleading. Here are my reasoning and also, I believe there is a misunderstanding.

----

1. **The fact that Declaring this Repo a Standard/Rule Shuns Go's True Potential**
1.1. If you go through Effective Go documentation comprehensively, the directory structuring brings up 1 and only 1 l

[2021-09-09 14:51] skaldesh commented on #117
@hollowaykeanho 100% agreed

[2021-09-13 20:36] edwvee opened #136 "Config example directory"
Where should I put config example for a cmd according to this layout? "assets" directory?

[2021-09-24 07:30] fallais opened #137 "Where to put Helm charts ?"
Where to put Helm charts ?

[2021-10-15 14:07] amnonbc opened #141 "Who approved this "standard"?"
Was it approved by the Go developers?
Or by the IEEE Standards Association?
Or by a self appointed committee consisting of the author?

[2021-10-16 06:57] amnonbc commented on #52
So there is an organisation called "golang-standards".

Standards are a good thing.

And it is good that there are standards in the Go programing language.

So who makes the standards?
Usually standards are agreed by some sort of committee.
Sometimes the members of this committee are nominated by industry stake-holders.
And sometimes they are elected by the community.

How many members does the "g

[2021-10-17 07:27] kcq commented on #141
Not all standards are defined by IEEE :) Maybe this was meant as a joke. Hard to understand the context without any kind of physical cues. Closing because it's not not actionable. Good luck with your Go projects!

[2021-10-17 07:27] #141 closed

[2021-10-17 07:46] kcq commented on #137
The `/deployments` directory is a good place (some projects call it `/deploy`). This directory is all about the deployment environment configurations (e.g., for kubernetes it's regular manifest yaml files or helm charts, etc). If you have different ways to deploy it might be good to have a separate place for each.

[2021-10-17 07:49] kcq commented on #123
Thank you for comment! There are many different kinds of standards.

[2021-10-17 07:49] #123 closed

[2021-11-17 10:49] vahdet opened #146 "Where to put Dockerfile?"
Is it the root directory, or sth like [`deployments`](./deployments)?

[2021-12-07 13:28] GLOFonseca opened #152 "Broken links on pkg folder"
There are some broken links on the `pkg` folder, they are from repositories that don't use this folder anymore.

Pull Request #149 fixes it.

[2021-12-13 06:34] MichailVestnik commented on #146
HI!
I've been thinking about this question, too. In the end I did this.

![Снимок экрана от 2021-12-13 15-27-12](https://user-images.githubusercontent.com/87961969/145763156-d38c789f-0f8f-467a-a7dd-314833ef89e9.png)

The Dockerfile is placed in the deployments folder. The build is done from the Makefile command, which calls the shell script.
The script copies the files from the deployments for the

[2021-12-16 11:22] siansiansu commented on #104
Please help to merge it, thanks!

[2021-12-16 11:51] #104 closed

[2021-12-26 21:31] istzustand opened #157 "README_ru.md executable?"
y?

[2021-12-27 02:24] jincheng9 commented on #157
of course, it's not executable. please close this issue.

[2021-12-27 03:05] lenkite commented on #10
I believe this repository should be renamed to `non-standard-project-layout` or `highly-opinionated-project-layout` as it no longer represents the standard Go project layout and only confuses people.

[2021-12-27 13:14] istzustand commented on #157
Well I cloned the repo and that Readme had the executable flag set.
Did it again just now and... it's still set...
https://imgur.com/a/Ip2TWIk
but ok...

[2021-12-27 13:14] #157 closed

[2021-12-30 01:00] peterbourgon commented on #55
[`go.sum` is not a lock file](https://twitter.com/peterbourgon/status/1409921201355505666).

[2022-01-03 12:11] fncolon commented on #117
this lead with serious naming problem when combined with clean architecture concept.

[2022-01-14 08:12] leeyf888 commented on #146
I think you can use build/demo/Dockerfile

[2022-01-27 04:25] #130 closed

[2022-02-04 09:00] mikeschinkel commented on #117
Nature abhors a vacuum.

Because Go provides no official guidance for project layout that absence enables people who longed for a standard to establish what appears to newbies to be an official standard, and they got to establish it in the manner they envisioned it regardless of what the broader community of Go developers think or believe.

First, I totally agree that the nature of Go means that t

[2022-02-04 17:42] liulk opened #160 "License header comment style in Go source code?"
Is there a preference between `/* ... */` or `//` comment style to use for license headers in a Go source file?

[code]

versus:

[code]

[2022-02-11 18:07] sfaujour commented on #11
Im also at the point that there should be a `/db` folder in the root for fixtures/migrations.

[2022-02-24 19:33] abought opened #164 "How to avoid shadowing builtins?"
While attempting to follow this layout new to Go, I created a file named `cmd/api/main.go`.

This lead to some quite unexpected behavior: `go build -a -v cmd/api/` produced a working binary that did nothing (and ignored my main method). I got the expected result by changing the build command to reference either of `./cmd/api` or `cmd/api/main.go`

After doing some digging, it was suggested that I

[2022-02-25 19:41] aphistic commented on #117
I like @mikeschinkel's statement here. There is very little (if any) guidance for a recommended way to lay out larger Go projects and, absent that, this is a good alternative.

I initially avoided the pattern recommended in this repo because it's not actually official or a "standard", but I've started using it for my own projects and projects for my team at work because it's a well-defined and wel

[2022-02-25 20:00] xxbtwxx commented on #117
Unfortunately, it isn't even a good approach. It's bloated and full of layout smell. The mere fact that a `vendor` folder exists is a good example of this, it's a feature first introduced in go 1.5, and go 1.18 will be released in a month....

[2022-02-25 20:02] aphistic commented on #117
It's a guideline, not a rule. If you don't use vendoring, don't include the directory.

[2022-02-25 20:23] paralin commented on #117
Arbitrary layouts make no sense. Make one package for each concept in your project in the root dir, and make a cmd/myapp if you need a main package. That's all the rules needed. Add more structure when you need it, not before! It's just more work for you to do!

I understand people love copy pasting things to make the appearance of having done some work on their project to the managers or stakehol

[2022-02-25 20:50] aphistic commented on #117
I'm not sure how something like this is arbitrary considering every directory is documented with what would go in there and seems to be pretty thoughtfully laid out.

Also yes, I agree. Add more structure when you need it. Don't just clone this repo and start putting your project in it, use it as documentation. "It's a guideline, not a rule."

See above. Don't copy the whole directory structure as

[2022-02-25 21:06] cameracker commented on #117
@aphistic I think you're misunderstanding what this issue is about. This issue is not complaining that the layout is bad, the issue is complaining that the maintainer has implicitly made a claim that this is some sort of official layout because of the org title.

If you're trying to argue that this is a great layout, that's cool and you're certainly entitled to that opinion. But I can tell you rig

[2022-02-25 21:43] aphistic commented on #117
I'm not misunderstanding, I see my response and @mikeschinkel's response as a call to action to define one if people aren't happy with this one.

I originally responded because I agreed with the statement "Nature abhors a vacuum" and the associated statements. I specifically addressed how this repository fills that vacuum and why it's helpful as a response to the original issue. The statement is "

[2022-02-25 21:47] paralin commented on #117
@aphistic

Which is easier without this layout.

One package for each "concept" with sub-packages of that concept, and a cmd/myentrypoint if you need a main package.

That's it. All of the stuff in this repo is a misinterpretation of decisions made to structure older Go projects.

Documentation? OK put it in "doc/." Templates? Huh? Ok, I guess put under "templates/". Configs? Put it under "configs

[2022-02-25 21:49] cameracker commented on #117
@aphistic Ok, you didn't misunderstand. But did you really need to revive a dead issue based on an "inspiring quote" from 22 days ago?

[2022-03-06 09:54] Lucifer25x opened #165 "Why pkg directory always appears in Desktop"
When I create a go application, pkg always shows up on the desktop. It bothers me. How can I make this pkg directory appear in the project directory.

[2022-03-06 17:39] #165 closed

[2022-03-14 02:12] switchupcb commented on #117
Based Issue.

[2022-03-25 21:43] kcq commented on #129
it just means anything goes :) feel free to do whatever you want with it

[2022-03-27 16:43] ooxi opened #167 "Update project-layout to reflect changes with go:embed"
According to this repository, assets should be placed below `/assets`. However, resources to be embedded with `//go:embed` cannot refer to this directory (to my knowledge?)

Therefore the project-layout should be updated to reflect this change in Go 1.16

[2022-04-15 04:46] stevekm commented on #117
As a new Go user I just wasted a lot of time trying to figure out why my program would not compile until I finally realized that it was due to the use of the `pkg` structure shown here. Its not consistent with any other tutorials or guides on Go anywhere else that I've seen on the internet.

[2022-04-21 09:43] Remu5 opened #169 "Where to put log pkg?"
Would the log package be kept inside internal or be left at the root level?

[2022-05-02 17:45] vahdet opened #170 "How to combine Hexagonal Architecture with this layout?"
I am trying to make use of this layout with [hexagonal architecture](https://en.wikipedia.org/wiki/Hexagonal_architecture_(software)). Is there a subset of this layout for that purpose or anybody here knows of one from somewhere else?

For now, I am using the folders like this:

- Domain Logic & Entities: `internal/domain`
- Service Layer interface & implementations: `internal/app/service`
- Datas

[2022-05-05 06:22] AOrps opened #172 "Add new badge"
Hey, I think this would be a cool and super simple idea to help somewhat standardize this repo!

[![](https://img.shields.io/badge/Layout-Go%20Standard-informational)](https://github.com/golang-standards/project-layout)

or

[code]

-  Everyone loves badges/shields

[2022-05-05 17:37] amnonbc commented on #117
Having a `pkg` directory is an antipattern.

If we take a well known package such as Gorilla Mux, you `import "github.com/gorilla/mux"`
You do not import `"github.com/gorilla/pkg/mux"`because the pkg directory adds no meaning -
as you can only import packages, the fact you are importing it means that it is a package, so there is no need to add `pkg` to its name. The existence of the `pkg` director

[2022-05-05 18:35] theckman commented on #117
@amnonbc I am also against the use of `pkg`, but in the past it did serve a purpose. There was a time before the `internal` directory existed, which meant there wasn't a way to have code that was "private" to the project. So `pkg` became a social contract to communicate what was _intended_ to be imported if there was code within the repo that wasn't part of the intended API.

[2022-05-08 16:36] WolfMcPhearson opened #173 "Rename of this org?"
Is this an official Go standard org, owned by the same people that own github.com/golang?  If not, it appears it causes confusion, and should be renamed.  Seems like it might violate the spirit of the Acceptable Use Policy section 3:

specifically the "fraudulently misrepresenting your identity or **_site's purpose_**.   And if you click on the link for impersonation you will see "Using a deceptiv

[2022-05-19 10:29] prochac commented on #38
The `util` and `pkg` are unfortunate though
https://github.com/google/exposure-notifications-server/tree/main/pkg/util

While `util` is specifically named as bad name:
https://go.dev/blog/package-names#bad-package-names

the `pkg` is some kind of cargo-cult which continues to live over "generations"
https://twitter.com/bradfitz/status/1039512487538970624

[2022-05-24 18:48] a-poor opened #177 "Update bad links in `/pkg` examples"
The examples in the [`project-layout/pkg/README.md`](https://github.com/golang-standards/project-layout/blob/7d77a60e518b7d9b483b6a30f166669cdac87452/pkg/README.md) file include repositories with links that should be updated (renamed branches) and repositories that should be removed (no longer include a `/pkg` directory):

Repositories that no longer include a `/pkg` directory:
* [prometheus/prome

[2022-06-13 21:24] DavidLuna0 opened #181 "Where to put queue files?"
In what packages should i put queue related files?

[2022-06-17 16:31] Trite8Q1 opened #182 "German translation?"
Is there interest in a complete translation into German? I'd love to take it over.

[2022-06-26 17:25] brunogbarros opened #184 "Golang has the concept of models/services/repo?"
Can I use models/services/repositories folder inside /internal?
I mean, I know we can use, but theres a golang way of using this?
I know this is a concept from other languages such Java (which is mine, and my team background) , but where should we put structs that looks like a model?

[2022-07-01 09:47] Arsen6331 commented on #181
See #117

[2022-07-01 09:57] Arsen6331 commented on #119
If someone went to a project you're the number 1 maintainer of, made up a standard for it, and then published it under the name `<project>-standards`, you'd be upset, and rightfully so, because it's NOT a standard. You're trying to argue that there is a holy war, but there is no war to be had, because this is OBJECTIVELY not a standard. You cannot have an opinion about it because no matter what yo

[2022-07-01 09:59] Arsen6331 commented on #184
See #117

[2022-07-01 10:10] Elara6331 opened #185 "This organization should be renamed with a note in the README"
Numerous people have created issues that describe the reasoning for this. The main one being #117, created by Russ Cox, the number one contributor to https://github.com/golang/go.

This repository represents your opinion, @kcq, and solely your opinion. To represent this as in any way standard, best practices, recommended, or anything else that would make it seem like more than just your preference

[2022-07-01 13:46] brunogbarros commented on #184
Thanks @Arsen6331 I'll take a look at this thread. I am not close this issue now, but if I agree if the thread I come back and close it, is it ok?

[2022-07-01 23:41] kcq commented on #185
@Arsen6331 thank you for being civil expressing your opinion! You happen to have a very narrow definition of "standards" and that's ok. The repo is not presented as an official standard from the Go team in any way and there's an explicit disclaimer providing sufficient context (in bold text at the very top of the readme).

[2022-07-02 20:59] jm96441n commented on #185
Our of curiosity, why name the org `golang-standards` if it's definitely not a standard?

[2022-07-03 03:04] brunogbarros commented on #52
Yeah, as a new gopher, me and my team fall for that, rs. I mean, we know this is not official, but as people mentioned before, its looks solid. I still think the name of this repo org should change.

[2022-07-03 03:08] brunogbarros commented on #184
Closing this issue, the thread @Arsen6331 shared was useful (thank u), but lead me to #52 which I agree. We all know this org is not official, but it looks solid and a lot of people recommend to new golang developers (not metion the SEO/google search), which I think can lead us (me included) the wrong path. This repository organization feels like structuring java for golang and thats why I created

[2022-07-03 03:08] #184 closed

[2022-07-03 03:12] brunogbarros commented on #181
@DavidLuna0 hello, as mentioned by Arsen, theres no official place. Here me and my team prefer to use the name-of-service/queue-name, something like internal/aws/sqs_for_x.go for example.

[2022-07-03 03:14] brunogbarros commented on #185
Hello again @Arsen6331 , cant agree more. I was right now reading the issue #52 which has the same purpose. I 100% agree that this repo shouldn't be called "standard" and in the README the first sentence is "we are not official standard", this really lead people to mislead info.

[2022-07-03 03:16] brunogbarros commented on #185
Why to stay with a name thats creating more confusion than helping the community? Theres no reason to use the word 'standard' without being a official one, why not call this repository golang-patterns or something that community knows that can be unofficial.

[2022-07-03 06:24] soypat commented on #185
I do appreciate the notes in the README! Thanks for going through the work of putting them in there- though I noticed the project description reads `Standard Go Project Layout`. This is the first thing people usually see and surely has an effect on perception when proceeding to see the project structure.

Maybe adding a ":warning: _unofficial_ :warning:" text could ease the misunderstandings peopl

[2022-07-13 04:26] loynoir opened #186 "Any references for `/init` pattern?"
Any references for `/init` pattern?

[2022-07-13 04:32] loynoir opened #187 "singular? plural?"
This layout pattern include both  `X`  and `Xs` at the same time.

[2022-07-13 04:36] loynoir commented on #187
Singular `script`
https://github.com/github/scripts-to-rule-them-all

[2022-07-13 04:38] loynoir commented on #187
Pattern like `build`, `init` are very weird to be plural.
But convert plural pattern `scripts` to singular `script`, it's not weird to me.
So, I prefer all patterns using singular.

[2022-08-02 08:34] vn7n24fzkq opened #189 "Duplicated simplified-chinese translated README"
Hi, I noticed that there are two README translations for Simplified Chinese, they are `README_zh-CN.md` and `README_zh.md`.
And I checked the difference between them, only a few paragraphs are in different words but in the same meaning.

I think we can merge them into one file.

If this is allowed, I would like to make a pull request.

I noticed this because of the question mark after the relative

[2022-08-02 08:51] vn7n24fzkq commented on #189
I had already checked the previous PR, this might be related to #188 and #151.

[2022-08-07 08:10] sj14 commented on #61
With the Go module support, I'm really thinking of adding a `src` folder to my projects to unclutter the root folder.
Are there any good up-to-date reasons not to do this?

[2022-08-07 17:59] sj14 commented on #61
If I'm not mistaken, most times the packages are also not in the root of the repo (there also can be only one at max), so you would have to import something like `github.com/user/repo/xyz` or `github.com/user/repo/pkg/xyz` too.

But I'm genuinely curious about the other good reasons.

[2022-08-08 07:07] tsatke commented on #61
I think smaller codebases up to a few thousand lines of code can work with only the root folder. Above that, you might want to think about your architecture a little, and split the code across **meaningful** packages. Generally, I don't like introducing packages just do declutter the code. If you have a lot of code that belongs together, like a set of structs and their implementations, and that im

[2022-08-18 12:48] sanan-go commented on #187
no plurals

[2022-08-26 01:37] mancini0 opened #191 "Guidance could be provided on where to put tests in library directories"
Hello,

Coming from a java background (where we put source code in /src/main/my/package, and tests in src/test/my/package), it's not obvious to me how Gophers typically structure their tests. Looking at istio's source, I see a test sub directory "pkg/test", but I also see tests directly in the pkg/<module> level:
For example: https://github.com/istio/istio/blob/master/pkg/channels/unbounded_test.g

[2022-08-26 01:42] #191 closed

[2022-08-26 01:47] mancini0 commented on #191
closing, it seems the convention is to place tests in the same directory of the source code being tested.

[2022-08-26 06:14] 0xdeface commented on #10
if i write some code which will be used in many micro-services(for example generated protobuf + some methods)  i can use pkg folder and init git submodule and develop that part near service and uc?

[2022-08-30 10:52] Southclaws commented on #10
I've always found "pkg" useless. 1. it's a 3 letter shortening, which isn't friendly to non-English speakers who may think it's an acronym for something (P.K.G.?) 2. it's a useless name that tells you nothing about the content. Why "package"? Every directory that contains .go files is a package. It's basically the same as creating a folder called "files".

I recently changed some codebases to use

[2022-08-30 13:29] svengreb commented on #10
This whole discussion is pointless as everyone should use the layout they like, absolutely no one should dictate how your structure looks like as long as this is not enforced by the programming language. Most of the contributors in this issue try to convince everyone to follow their preferred way which is totally selfish and the root of a lot of problems.
The initial post says that `pkg` is a “use

[2022-08-30 14:31] Southclaws commented on #10
I think you missed my point haha, maybe it was poorly written.

My point was that since every directory of Go files is considered a "package" by the compiler, it doesn't tell the reader much by grouping together some packages and using a name that simply indicates that you've grouped together some packages. You can tell that by observing that there are Go files in there!

The analogy regarding "fi

[2022-09-14 17:38] ntindle commented on #117
Given the feedback here, I think a realistic potential solution is making a few more examples of potential structures.

Have folders (or branches) for each of the following:
- A small go project that is a one off
- A small multi file go project with a bit of organization
- A medium sided go project
- A large enterprise scale project.

Each of these has wildly different structures and styles that w

[2022-09-22 19:38] zeitue opened #196 "Driver location"
Where would drivers written in Go belong in the project structure?

The only place which kinda makes sense from what I read might be `/third_party`
maybe have a `/third_party/drivers`?

Also where would FUSE file systems belong?

[2022-11-05 19:54] jacopobr opened #202 "Why there is no link to the Italian translations?"
Hi, I came across this repo and find it really useful. I want to help with the Italian translation but I saw that, even though an Italian translation is present, there is no link in the README.md. Is there any reason why?

[2022-11-23 14:31] dominikbraun commented on #117
Given the feedback here, I think the only realistic solution is to delete the organization along with its repositories. It provides no benefits for the Go community whatsoever.

[2022-11-23 14:58] lggomez commented on #117
It gives stars and virtual swag to the owner at the expense of the golang's official project  repos and their naming, so there's that. At least it has regular updates and a tiny, minuscule sentence as a disclaimer of it's non-standard status (in **absolute** good faith, I assume)

It lays on the rest of the community to link to this (if wanted) and the (true) standards pages while giving context a